<ion-header>
  <ion-grid style="padding-top: 30px">
    <ion-slides (ionSlideTransitionEnd)="test()" #slides class="ion-no-padding">

      <ion-slide class="ion-no-padding slide">
        <ion-row class="card-up">
          <ion-card>
            <ion-row>
              <ion-col size="1" class="ion-no-padding"></ion-col>
              <ion-col size="10" class="ion-no-padding">
                <img src="../assets/imgs/coins/BRL.svg">
                <div class="if" *ngIf="brl != 0.00">
                  <h2>Saldo em Real</h2>
                  <h3 *ngIf="brl != null">R$ {{formatReal(brl)}}</h3>
                  <ion-spinner style="margin-top: 5px;" color="light" *ngIf="brl == null" name="bubbles"></ion-spinner>
                </div>
                <div *ngIf="brl == 0.00">
                  <h1>Sua Carteira de Real<br> (BRL) esta vazia</h1>
                  <p>Receba e utilize seu BRL para realizar pagamentos.</p>
                </div>
                <ion-row class="button" *ngIf="brl != 0.00">
                  <ion-col size="6">
                    <ion-button (click)="Open('receive', 'BRL', 'real')" color="light" shape="round" fill="outline">
                      Depositar</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="Open('withdraw', 'BRL', 'real')" color="light" shape="round" fill="outline">
                      Retirar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="brl == 0.00">
                  <ion-col>
                    <ion-button (click)="Open('receive', 'BRL', 'real')" color="light" shape="round" fill="outline">
                      Depositar BRL</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </ion-slide>

      <ion-slide class="ion-no-padding slide">
        <ion-row class="card-up">
          <ion-card>
            <ion-row>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-back"></ion-icon>
              </ion-col>
              <ion-col size="10" class="ion-no-padding">
                <img src="../assets/imgs/coins/BTC.svg">
                <div class="if" *ngIf="btc != 0.00">
                  <h2>Saldo em Bitcoin</h2>
                  <h3 *ngIf="btc != null">{{formatCrypto(btc)}}</h3>
                  <ion-spinner style="margin-top: 5px;" color="light" *ngIf="btc == null" name="bubbles"></ion-spinner>
                </div>
                <div *ngIf="btc == 0.00">
                  <h1>Sua Carteira de Bitcoin<br> (BTC) esta vazia</h1>
                  <p>Receba e utilize seu BTC para realizar pagamentos.</p>
                </div>
                <ion-row class="button" *ngIf="btc != 0.00">
                  <ion-col size="6">
                    <ion-button (click)="Open('receive', 'BTC', 'bitcoin')" color="light" shape="round" fill="outline">
                      Depositar</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="Open('withdraw', 'BTC', 'bitcoin')" color="light" shape="round" fill="outline">
                      Retirar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="btc == 0.00">
                  <ion-col>
                    <ion-button (click)="Open('receive', 'BTC', 'bitcoin')" color="light" shape="round" fill="outline">
                      Depositar BTC</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </ion-slide>

      <ion-slide class="ion-no-padding slide">
        <ion-row class="card-up">
          <ion-card>
            <ion-row>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-back"></ion-icon>
              </ion-col>
              <ion-col size="10" class="ion-no-padding">
                <img src="../assets/imgs/coins/ETH.svg">
                <div class="if" *ngIf="eth != 0.00">
                  <h2>Saldo em Ethereum</h2>
                  <h3 *ngIf="eth != null">{{formatCrypto(eth)}}</h3>
                  <ion-spinner style="margin-top: 5px;" color="light" *ngIf="eth == null" name="bubbles"></ion-spinner>
                </div>
                <div *ngIf="eth == 0.00">
                  <h1>Sua Carteira de Ethereum<br> (ETH) esta vazia</h1>
                  <p>Receba e utilize seu ETH para realizar pagamentos.</p>
                </div>
                <ion-row class="button" *ngIf="eth != 0.00">
                  <ion-col size="6">
                    <ion-button (click)="Open('receive', 'ETH', 'ethereum')" color="light" shape="round" fill="outline">
                      Depositar</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="Open('withdraw', 'ETH', 'ethereum')" color="light" shape="round"
                      fill="outline">Retirar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="eth == 0.00">
                  <ion-col>
                    <ion-button (click)="Open('receive', 'ETH', 'ethereum')" color="light" shape="round" fill="outline">
                      Depositar ETH</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </ion-slide>

      <ion-slide class="ion-no-padding slide">
        <ion-row class="card-up">
          <ion-card>
            <ion-row>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-back"></ion-icon>
              </ion-col>
              <ion-col size="10" class="ion-no-padding">
                <img src="../assets/imgs/coins/MIC.svg">
                <div class="if" *ngIf="mic != 0.00">
                  <h2>Saldo em Mindexcoin</h2>
                  <h3 *ngIf="mic != null">{{formatCrypto(mic)}}</h3>
                  <ion-spinner style="margin-top: 5px;" color="light" *ngIf="mic == null" name="bubbles"></ion-spinner>
                </div>
                <div *ngIf="mic == 0.00">
                  <h1>Sua Carteira de Mindexcoin<br> (MIC) esta vazia</h1>
                  <p>Receba e utilize seu MIC para realizar pagamentos.</p>
                </div>
                <ion-row class="button" *ngIf="mic != 0.00">
                  <ion-col size="6">
                    <ion-button (click)="Open('receive', 'MIC', 'mindexcoin')" color="light" shape="round"
                      fill="outline">Depositar</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="Open('withdraw', 'MIC', 'mindexcoin')" color="light" shape="round"
                      fill="outline">Retirar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="mic == 0.00">
                  <ion-col>
                    <ion-button (click)="Open('receive', 'MIC', 'mindexcoin')" color="light" shape="round"
                      fill="outline">Depositar MIC</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </ion-slide>

      <ion-slide class="ion-no-padding slide">
        <ion-row class="card-up">
          <ion-card>
            <ion-row>
              <ion-col size="1" class="ion-no-padding">
                <ion-icon style="margin-top: 100px!important" name="ios-arrow-back"></ion-icon>
              </ion-col>
              <ion-col size="10" class="ion-no-padding">
                <img src="../assets/imgs/coins/EST.svg">
                <div class="if" *ngIf="est != 0.00">
                  <h2>Saldo em Easticoin</h2>
                  <h3 *ngIf="est != null">{{formatCrypto(est)}}</h3>
                  <ion-spinner style="margin-top: 5px;" color="light" *ngIf="est == null" name="bubbles"></ion-spinner>
                </div>
                <div *ngIf="est == 0.00">
                  <h1>Sua Carteira de Easticoin<br> (EST) esta vazia</h1>
                  <p>Receba e utilize seu EST para realizar pagamentos.</p>
                </div>
                <ion-row class="button" *ngIf="est != 0.00">
                  <ion-col size="6">
                    <ion-button (click)="Open('receive', 'EST', 'easticoin')" color="light" shape="round"
                      fill="outline">Depositar</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="Open('withdraw', 'EST', 'easticoin')" color="light" shape="round"
                      fill="outline">Retirar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="est == 0.00">
                  <ion-col>
                    <ion-button (click)="Open('receive', 'EST', 'easticoin')" color="light" shape="round"
                      fill="outline">Depositar EST</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" class="ion-no-padding">
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
  <ion-row>
    <p class="bg">Histórico de transações</p>
  </ion-row>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-row style="padding-top: 15px;" class="transactions" *ngIf="transaction_brl != 0 && display == 0">
      <ion-card class="card-transfer" *ngFor="let transac_brl of transaction_brl">
        <ion-row>
          <ion-col style="padding-left: 15px" size="2">
            <ion-icon class="icon-sub" name="ios-shuffle" *ngIf="transac_brl.type_id == 1"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 2"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_brl.type_id == 3"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 4"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 5"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 6"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_brl.type_id == 7"></ion-icon>
          </ion-col>
          <ion-col style="text-align: center;" size="5">
            <h1 style="margin-top: 5px;margin-bottom: 0px;">{{transac_brl.description | slice:0:40}}</h1>
            <h2 style="margin-top: 5px;margin-bottom: 0px;">{{getDate(transac_brl.created_at)}}</h2>
          </ion-col>
          <ion-col size="5">
            <p class="num-color-p" *ngIf="transac_brl.type_id == 1">R$ {{formatReal(transac_brl.value)}}</p>
            <p class="num-color" *ngIf="transac_brl.type_id == 2">R$ {{formatReal(transac_brl.value)}}</p>
            <p class="num-color-p" *ngIf="transac_brl.type_id == 3">R$ {{formatReal(transac_brl.value)}}</p>
            <p class="num-color" *ngIf="transac_brl.type_id == 4">R$ {{formatReal(transac_brl.value)}}</p>
            <p class="num-color" *ngIf="transac_brl.type_id == 5">R$ {{formatReal(transac_brl.value)}}</p>
            <p class="num-color" *ngIf="transac_brl.type_id == 6">R$ {{formatReal(transac_brl.value)}}</p>
            <p class="num-color-p" *ngIf="transac_brl.type_id == 7">R$ {{formatReal(transac_brl.value)}}</p>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-row>
    <ion-row *ngIf="transaction_brl == 0 && display == 0">
      <ion-col size="12">
        <img src="../assets/imgs/no_transaction.svg">
      </ion-col>
    </ion-row>

    <div *ngIf="display == 1">
      <ion-row class="transactions" *ngIf="transaction_btc != 0">
        <ion-card class="card-transfer" *ngFor="let transac_btc of transaction_btc">
          <ion-row>
            <ion-col style="padding-left: 15px" size="2">
              <ion-icon class="icon-sub" name="ios-shuffle" *ngIf="transac_btc.type_id == 1"></ion-icon>
              <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_btc.type_id == 2"></ion-icon>
              <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_btc.type_id == 3"></ion-icon>
              <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_btc.type_id == 4"></ion-icon>
              <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_btc.type_id == 5"></ion-icon>
              <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_btc.type_id == 6"></ion-icon>
              <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_btc.type_id == 7"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="5">
              <h1 style="margin-top: 5px;margin-bottom: 0px;">{{transac_btc.description | slice:0:40}}</h1>
              <h2 style="margin-top: 5px;margin-bottom: 0px;">{{getDate(transac_btc.created_at)}}</h2>
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <p class="num-color-p" *ngIf="transac_btc.type_id == 1">{{formatCrypto(transac_btc.value)}}</p>
                <p class="num-color" *ngIf="transac_btc.type_id == 2">{{formatCrypto(transac_btc.value)}}</p>
                <p class="num-color-p" *ngIf="transac_btc.type_id == 3">{{formatCrypto(transac_btc.value)}}</p>
                <p class="num-color" *ngIf="transac_btc.type_id == 4">{{formatCrypto(transac_btc.value)}}</p>
                <p class="num-color" *ngIf="transac_btc.type_id == 5">{{formatCrypto(transac_btc.value)}}</p>
                <p class="num-color" *ngIf="transac_btc.type_id == 6">{{formatCrypto(transac_btc.value)}}</p>
                <p class="num-color-p" *ngIf="transac_btc.type_id == 7">{{formatCrypto(transac_btc.value)}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
      <ion-row  *ngIf="transaction_btc == 0">
        <ion-col size="12">
            <img src="../assets/imgs/no_transaction.svg">
        </ion-col>
      </ion-row>
    </div>

  <div *ngIf="display == 2">
    <ion-row style="padding-top: 15px;" class="transactions" *ngIf="transaction_eth != 0">
      <ion-card class="card-transfer" *ngFor="let transac_eth of transaction_eth">
        <ion-row>
          <ion-col style="padding-left: 15px" size="2">
            <ion-icon class="icon-sub" name="ios-shuffle" *ngIf="transac_eth.type_id == 1"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_eth.type_id == 2"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_eth.type_id == 3"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_eth.type_id == 4"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_eth.type_id == 5"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_eth.type_id == 6"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_eth.type_id == 7"></ion-icon>
          </ion-col>
          <ion-col style="text-align: left;" size="5">
            <h1 style="margin-top: 5px;margin-bottom: 0px;">{{transac_eth.description | slice:0:40}}</h1>
            <h2 style="margin-top: 5px;margin-bottom: 0px;">{{getDate(transac_eth.created_at)}}</h2>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <p class="num-color-p" *ngIf="transac_eth.type_id == 1">R$ {{formatCrypto(transac_eth.value)}}</p>
              <p class="num-color" *ngIf="transac_eth.type_id == 2">R$ {{formatCrypto(transac_eth.value)}}</p>
              <p class="num-color-p" *ngIf="transac_eth.type_id == 3">R$ {{formatCrypto(transac_eth.value)}}</p>
              <p class="num-color" *ngIf="transac_eth.type_id == 4">R$ {{formatCrypto(transac_eth.value)}}</p>
              <p class="num-color" *ngIf="transac_eth.type_id == 5">R$ {{formatCrypto(transac_eth.value)}}</p>
              <p class="num-color" *ngIf="transac_eth.type_id == 6">R$ {{formatCrypto(transac_eth.value)}}</p>
              <p class="num-color-p" *ngIf="transac_eth.type_id == 7">R$ {{formatCrypto(transac_eth.value)}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="transaction_eth == 0">
      <ion-col size="12">
        <img src="../assets/imgs/no_transaction.svg">
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="display == 3">
    <ion-row style="padding-top: 15px;" class="transactions" *ngIf="transaction_mic != 0">
      <ion-card class="card-transfer" *ngFor="let transac_mic of transaction_mic">
        <ion-row>
          <ion-col style="padding-left: 15px" size="2">
            <ion-icon class="icon-sub" name="ios-shuffle" *ngIf="transac_mic.type_id == 1"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_mic.type_id == 2"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_mic.type_id == 3"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_mic.type_id == 4"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_mic.type_id == 5"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_mic.type_id == 6"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_mic.type_id == 7"></ion-icon>
          </ion-col>
          <ion-col style="text-align: left;" size="5">
            <h1 style="margin-top: 5px;margin-bottom: 0px;">{{transac_mic.description | slice:0:40}}</h1>
            <h2 style="margin-top: 5px;margin-bottom: 0px;">{{getDate(transac_mic.created_at)}}</h2>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <p class="num-color-p" *ngIf="transac_mic.type_id == 1">R$ {{formatCrypto(transac_mic.value)}}</p>
              <p class="num-color" *ngIf="transac_mic.type_id == 2">R$ {{formatCrypto(transac_mic.value)}}</p>
              <p class="num-color-p" *ngIf="transac_mic.type_id == 3">R$ {{formatCrypto(transac_mic.value)}}</p>
              <p class="num-color" *ngIf="transac_mic.type_id == 4">R$ {{formatCrypto(transac_mic.value)}}</p>
              <p class="num-color" *ngIf="transac_mic.type_id == 5">R$ {{formatCrypto(transac_mic.value)}}</p>
              <p class="num-color" *ngIf="transac_mic.type_id == 6">R$ {{formatCrypto(transac_mic.value)}}</p>
              <p class="num-color-p" *ngIf="transac_mic.type_id == 7">R$ {{formatCrypto(transac_mic.value)}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="transaction_mic == 0">
      <ion-col size="12">
        <img src="../assets/imgs/no_transaction.svg">
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="display == 4">
    <ion-row style="padding-top: 15px;" class="transactions" *ngIf="transaction_est != 0">
      <ion-card class="card-transfer" *ngFor="let transac_est of transaction_est">
        <ion-row>
          <ion-col style="padding-left: 15px" size="2">
            <ion-icon class="icon-sub" name="ios-shuffle" *ngIf="transac_est.type_id == 1"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_est.type_id == 2"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_est.type_id == 3"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_est.type_id == 4"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_est.type_id == 5"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_est.type_id == 6"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_est.type_id == 7"></ion-icon>
          </ion-col>
          <ion-col style="text-align: left;" size="5">
            <h1 style="margin-top: 5px;margin-bottom: 0px;">{{transac_est.description | slice:0:40}}</h1>
            <h2 style="margin-top: 5px;margin-bottom: 0px;">{{getDate(transac_est.created_at)}}</h2>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <p class="num-color-p" *ngIf="transac_est.type_id == 1">R$ {{formatCrypto(transac_est.value)}}</p>
              <p class="num-color" *ngIf="transac_est.type_id == 2">R$ {{formatCrypto(transac_est.value)}}</p>
              <p class="num-color-p" *ngIf="transac_est.type_id == 3">R$ {{formatCrypto(transac_est.value)}}</p>
              <p class="num-color" *ngIf="transac_est.type_id == 4">R$ {{formatCrypto(transac_est.value)}}</p>
              <p class="num-color" *ngIf="transac_est.type_id == 5">R$ {{formatCrypto(transac_est.value)}}</p>
              <p class="num-color" *ngIf="transac_est.type_id == 6">R$ {{formatCrypto(transac_est.value)}}</p>
              <p class="num-color-p" *ngIf="transac_est.type_id == 7">R$ {{formatCrypto(transac_est.value)}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="transaction_est == 0">
      <ion-col size="12">
        <img src="../assets/imgs/no_transaction.svg">
      </ion-col>
    </ion-row>
  </div>
</ion-content>
