.card-up{
    
    ion-card{        
        border-radius: 20px!important;
        color: #fff;
        background: linear-gradient(45deg ,#bb69ff, #8833ff);
        padding:10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
        img{
            padding-top: inherit;
            width: 70px;
            margin:auto;
        } 
        h1{
            margin-top: 5px;
            margin-bottom: 2px;
            font-weight: bold;
            font-size: 4.5vw;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        h5{
            font-size: 5vw;        
        }
       
    }
    ion-button{
        color: #fff;
        height: 30px;
        width: 100%;
    }
}

.if{
    h2{
        font-weight: bold;
        font-size: 4.5vw;
    }
    h3{
        font-weight: 300;
        font-size: 5.5vw;
    }
}

.button{

    font-weight:400; 
}

.bg{
    background: #f4f6fc;
    padding: 4px!important;
    color: #7e5da3;
    text-align: center;
    margin-top: -15px;
    width: 100%;
    margin-bottom: 0px !important;
}

.transactions{
    padding-top: 25px;
    margin-left: 11px;
    margin-right: 11px;

      ion-icon{
            font-size: 30px;
            padding-top: 10px;
            color: #7e5da3;
        }
        ion-card{
            background-color: #f6f8fe;
        }   
        h1{            
            color: #7e5da3; 
            font-weight:800; 
            font-size: 10px;
            padding-top: 5px; 
        }
        h2{                 
            color: #707070; 
            font-weight:300; 
            font-size: 12px;
        }
        p{
            font-size: 15px;
            font-weight:400; 
            color: #076304; 
            padding-left: 40px;
            padding-top: 10px;
        }
}

.card-transfer{
    background-color: #f5f8fd;
    margin-top: -5px;
    width: 100%;
    border-radius: 10px;
}
.num-color{
    color: green!important;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;

}
.num-color-p{
    color: red!important;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;

}

.slide {
    display: block;
}

.opss {
    img{
    padding-top: inherit;
    width: 70px;
    margin:auto;
    }
}