.back-black{
    background: #333;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-left: 15px;
}
.dice{
    margin-top: 20px;
    margin-left: 25px;
    h1{
        margin-bottom: 0px;
        margin-top: 6px;    
        font-size: 18px;
        color: #3a0671;
        font-weight: 500;
    }
    h2{
        font-size: 12px;
        color: #3a0671;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 600;
    }
    h3{
        font-size: 12px;
        color: #3a0671;
        margin-bottom: 0px;
        margin-top: 0px;
        font-weight: 600;
    }
}
.send-wtsapp{
    --background: linear-gradient(45deg, #9041ff, #5a2e88);
    --background-activated:linear-gradient(45deg, #9041ff,#5a2e88);
    --background-focused:  #bb69ff;
    margin-left: 0px;
    ion-button{
        margin-bottom: 18px;
        padding-left: 17px;        
    }
    h3{
        color: #fff;
        padding-right: 20px;
        padding-left: 20px;
    }
}   

.time{
    --background: linear-gradient(45deg, #9041ff, #5a2e88);
    --background-activated:linear-gradient(45deg, #9041ff,#5a2e88);
    --background-focused:  #bb69ff;
    margin-right: 13px;
    margin-left: 13px;
    ion-button{
        margin-right: 13px;
        margin-left: 13px;
        margin-bottom: 18px;
        padding-left: 17px; 
    }
}



hr{
    border: 0.1px solid;
    border-color: rgb(100, 100, 100);
    background-color:rgb(100, 100, 100);
    width: 89%;

}

.card-time{
    --background: linear-gradient(45deg,#bf6cff, #9041ff);
    h1{
        color: #fff;
        font-size: 4.5vw;
        font-weight: 300;
        text-align: center;
    }
}

.row-container{
    margin-top: 0px;
    h1{
        font-size: 15px;
        color: #fff;
        margin: 5px!important;
        text-align: center;
    }
    h2{
        font-size: 18px;
        color: #777;
        margin-top: 5px!important;
        text-align: center;
        margin-bottom: 0px!important;
    }
    ion-card{
        width: 100%;
        margin:auto;
        border-radius: 5px;
        border: 2px solid #5a2e88;
        ion-row{
            text-align: center;
            img{
                margin-top: 5px!important;
                width: 40px;
                margin: auto;
                position: relative;
            }
            h1{
                margin: 5px!important;
                font-size: 18px!important;
                color: #5a2e88;
            }
        }
    }
}

.page-align{
    padding-right: 17px;
    padding-left: 17px;
}

.btn-back{
    font-size: 5vw;;
    color: #58127b;
    margin: auto;
}
.card-align{
    margin-top: 15px;
}

.card-value{
    margin: auto;
    --background:#eeeeee;
    width: 330px;
    margin-top: -10px;
    ion-input{
        border: 1px solid #5a2e88;
        width: 100%;
        border-radius: 5px;
        padding-left: 10px!important;
        padding: 0px;
        margin-top: 10px;
    }
    h1{
        font-size: 5vw;
        font-weight: 400;
        color: #4d4d4d;
        margin: auto;
        padding: 10px;
        padding-left: 15px;
    }
    h5{
        text-align: center;
        margin-top: 25px!important
    }
    h6{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .btn-access{
        --background: linear-gradient(45deg, #9041ff, #5a2e88);
        --background-activated:linear-gradient(45deg, #9041ff,#5a2e88);
        --background-focused:  #bb69ff;
        margin-top: 10px;
        ion-button{
        }
    }
}
.card-balance{
    border-radius: 10px;
    margin-top: 20px!important;
    width: 100%;
    margin:auto;
    background-color: #333;
    h1{
        text-align: center;
        font-size: 14px;
        color:#fff;
    }
    h2{
        text-align: center;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    }
}



.card-qr{
    margin: auto;
    max-width: 90%;
    img{
        margin: auto;
    }
}
.info{
    padding-left: 21px;
    padding-right: 21px;
}
.align-card{
    padding-right: 19px;
    padding-left: 19px;
}
     

.btn-back{
    ion-button{
        margin: auto;
        color: #5a2e88;

    }
}


// ng if bitcoin
.btn-address{
    --background: linear-gradient(45deg, #9041ff, #5a2e88);
    --background-activated:linear-gradient(45deg, #9041ff,#5a2e88);
    --background-focused:  #bb69ff;
    margin: auto;
}

.copy-btn {
    font-size: 11px;
    ion-icon {
        margin-left: 5px;
        font-size: 13px;
    }
}

.coin-icon {
    img{
        width: 55px;
    }
    justify-content: center;
}

.last-text{
    h5{
        margin: auto;
        margin-top: -10px!important;
        font-size: 3vw;
        text-align: center;
    }
}
.card-black{
    background: #333;
    height: 160px;
    width: 160px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-card{
    padding-right: 5px;
    margin-top: 35px;
    img{
        height: 70px;
        
    }
    h2{
        text-align: center;
        font-size: 3.3vw;
        font-weight: 300;
        margin-bottom: 0px;
        margin-top: 10px;   
    }
    h3{
        text-align: center;
        font-size: 4vw;
        color: #000;
        font-weight: 800;
        margin-top: 5px;
        margin-bottom: 0px;
    }

.eth{

}    
}
.align-address{
    padding-right: 22px;
    padding-left: 19px;
}


sc-ion-segment-ios-h sc-ion-segment-ios-s ion-color-tertiary {
    --background-focused:  #bb69ff;
    --background: linear-gradient(45deg, #9041ff, #5a2e88);
    --background-activated:linear-gradient(45deg, #9041ff,#5a2e88);
}