<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 25px;">
      <ion-col style="margin-top: 30px;" size="4">
        <div class="back-black"></div>
      </ion-col>
      <ion-col size="8">
        <ion-row class="dice">
          <h1>Total: R$ {{invoice.brl_value}}</h1>
          <h2>Vendedor: {{invoice.salesman}}</h2>
          <h3>Fatura: #{{invoice.invoice_token}}</h3>
          <ion-button class="send-wtsapp" (click)="socialShare()" expand="block" size="small"><h3>Enviar por WhatsApp <ion-icon name="logo-whatsapp"></ion-icon></h3></ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="align-card-time" size="12">
          <ion-button class="time" expand="block" size="small">Tempo restante: {{ time | async }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row-container" *ngIf="display == 'all'">
      <ion-col size="12">
        <h2>Selecione a forma de pagamento</h2>
      </ion-col>
      <ion-col class="page-align" size="12">
        <ion-card (click)="changePage('payment_brl')">
          <ion-row>
            <ion-col size="12">
              <img src="https://app.compralo.io/assets/invoice/assets/img/logos/256_compralo.png">
              <h1>Pagar com Compralo</h1>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="page-align" size="12">
        <ion-card (click)="changePage('payment_btc')">
          <ion-row>
            <ion-col size="12">
              <img src="https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png">
              <h1>Pagar com Bitcoin</h1>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="page-align" size="12">
        <ion-card (click)="changePage('payment_eth')">
          <ion-row>
            <ion-col size="12">
              <img
                src="https://res.cloudinary.com/teepublic/image/private/s--Hw--398i--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1470823069/production/designs/625723_1.jpg">
              <h1>Pagar com Ethereum</h1>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="page-align" size="12">
        <ion-card (click)="changePage('payment_mic')">
          <ion-row>
            <ion-col size="12">
              <img src="https://app.compralo.io/assets/invoice/assets/img/logos/256mic.png">
              <h1>Pagar com Mindexcoin</h1>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="page-align" size="12">
        <ion-card (click)="changePage('payment_est')">
          <ion-row>
            <ion-col size="12">
              <img src="https://app.compralo.io/assets/invoice/assets/img/logos/256est.png">
              <h1>Pagar com Easticoin</h1>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-button class="btn-back" fill="clear" (click)="back('withdraw')"><h3><u>Voltar</u></h3></ion-button>
    </ion-row>

    <ion-row *ngIf="display == 'payment_brl'">
      <ion-col size="12">
        <ion-card class="card-value">
          <ion-row>
            <ion-col size="12">
              <h1>Realize o pagamento com o saldo Compralo!</h1>
            </ion-col>
            <ion-col style="padding-left: 21px;padding-right: 21px;" size="12">
              <ion-segment color="dark">
                <ion-segment-button style="border-color: #5a2e88ff" (click)="exchange('qrcode')" value="qrcode" checked>
                  <ion-label>QRcode</ion-label>
                </ion-segment-button>

                <ion-segment-button style="border-color: #5a2e88ff" (click)="exchange('login')" value="login">
                  <ion-label>Login</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="method == 'qrcode'">
            <ion-col size="12">
              <ion-card class="card-qr">
                <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=BRL={{invoice_token}}">
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="method == 'login'">
            <ion-col class="info" size="12">
              <ion-label>Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
              <ion-label>Senha</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-col>
            <ion-col class="align">
              <ion-button class="btn-access" expand="block" size="small" (click)="login()">Acessar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="align" size="12">
              
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="btn-back" size="12">
        <ion-row>
          <ion-button fill="clear" (click)="changePage('all')"><h3><u>Voltar</u></h3></ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="display == 'payment_2fa'">
      <ion-col class="card-align" size="12">
        <ion-card class="card-value">
          <ion-row>
            <ion-col size="12">
              <h1>Realize o pagamento com o saldo Compralo!</h1>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card-balance">
                <h1>Saldo Compralo</h1>
								<h2>R$ {{formatReal(brl)}}</h2>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <h5>Valor da Fatura</h5>
							<h6>R$ {{invoice.brl_value}}</h6>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Código 2FA" type="number" [(ngModel)]="google_two_fa"></ion-input>
              <ion-col class="align">
                <ion-button class="btn-access" expand="block" size="small" (click)="makeWithdrawalTwo()">Pagar</ion-button>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="btn-back" size="12">
        <ion-row>
          <ion-button fill="clear" (click)="changePage('all')"><h3><u>Voltar</u></h3></ion-button>
        </ion-row>
      </ion-col>  
    </ion-row>

    <ion-row *ngIf="display == 'payment_btc'">
      <ion-col class="card-align" size="12">
        <ion-card class="card-value">
          <ion-row>
            <ion-col size="12">
              <h1>Realize o pagamento através da sua carteira de Bitcoin.</h1>
            </ion-col>
            <ion-col size="7">
              <!-- <div *ngIf="btc_address == null" class="card-black"></div> -->
              <ion-card *ngIf="btc_address == null">
                <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=BTC={{invoice_token}}">
              </ion-card>
              <ion-card *ngIf="btc_address != null">
                <img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=bitcoin:{{btc_address}}">
              </ion-card>
            </ion-col>
            <ion-col class="img-card" size="5">
              <ion-row class="coin-icon">
                <img src="../assets/imgs/bitcoin.png">
              </ion-row>
              <h2>Valor em Bitcoin</h2>
              <h3>{{invoice.btc_value}}</h3>
            </ion-col>
            <ion-col class="align-address">
              <!-- <ion-button class="btn-address" expand="block" size="small" *ngIf="btc_address == null" (click)="generateAddress('BTC')">Clique para enviar a uma Wallet Externa</ion-button> -->
              <ion-button class="btn-address copy-btn" expand="block" size="small" *ngIf="btc_address != null" (click)="copy('Endereço copiado com sucesso '+btc_address,btc_address)">
                {{btc_address}}
                <ion-icon name="copy"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="last-text" size="12">
              <ion-row>
                <h5>Carteira de Bitcoin</h5>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="btn-back" size="12">
        <ion-row>
          <ion-button fill="clear" (click)="changePage('all')"><h3><u>Voltar</u></h3></ion-button>
        </ion-row>
      </ion-col>  
    </ion-row>

    <ion-row *ngIf="display == 'payment_eth'">
      <ion-col class="card-align" size="12">
        <ion-card class="card-value">
          <ion-row>
            <ion-col size="12">
              <h1>Realize o pagamento através da sua carteira de Ethereum.</h1>
            </ion-col>
            <ion-col size="7">
              <ion-card *ngIf="eth_address == null">
                <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=ETH={{invoice_token}}">
              </ion-card>
              <ion-card *ngIf="eth_address != null">
                <img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=ethereum:{{eth_address}}">
              </ion-card>
            </ion-col>
            <ion-col class="img-card" size="5">
              <ion-row class="coin-icon">
                <img class="eth" src="../assets/imgs/ethereum.png">
              </ion-row>
              <h2>Valor em Ethereum</h2>
              <h3>{{invoice.eth_value}}</h3>
            </ion-col>
            <ion-col class="align">
              <!-- <ion-button class="btn-address" expand="block" size="small" *ngIf="eth_address == null" (click)="generateAddress('ETH')">Clique para enviar a uma Wallet Externa</ion-button> -->
              <ion-button class="btn-address copy-btn" expand="block" size="small" *ngIf="eth_address != null" (click)="copy('Endereço copiado com sucesso '+eth_address,eth_address)">
                {{eth_address}}
                <ion-icon name="copy"></ion-icon>
              </ion-button>
            </ion-col>  
            <ion-col class="last-text" size="12">
              <h5>Carteira de Eethereum</h5>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="btn-back" size="12">
        <ion-row>
          <ion-button fill="clear" (click)="changePage('all')"><h3><u>Voltar</u></h3></ion-button>
        </ion-row>
      </ion-col>  
    </ion-row>

    <ion-row *ngIf="display == 'payment_mic'">
      <ion-col class="card-align" size="12">
        <ion-card class="card-value">
          <ion-row>
            <ion-col size="12">
              <h1>Realize o pagamento através da sua carteira de Mindexcoin.</h1>
            </ion-col>
            <ion-col size="7">
              <ion-card *ngIf="mic_address == null">
                <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=MIC={{invoice_token}}">
              </ion-card>
              <ion-card *ngIf="mic_address != null">
                <img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=mindexcoin:{{mic_address}}">
              </ion-card>
            </ion-col>
            <ion-col class="img-card" size="5">
              <ion-row class="coin-icon">
                <img src="../assets/imgs/mindex.png">
              </ion-row>
              <h2>Valor em Mindexcoin</h2>
              <h3>{{invoice.mic_value}}</h3>
            </ion-col>
            <ion-col class="align">
              <!-- <ion-button class="btn-address" expand="block" size="small" *ngIf="mic_address == null" (click)="generateAddress('MIC')">Clique para enviar a uma Wallet Externa</ion-button> -->
              <ion-button class="btn-address copy-btn" expand="block" size="small" *ngIf="mic_address != null" (click)="copy('Endereço copiado com sucesso '+mic_address,mic_address)">
                {{mic_address}}
                <ion-icon name="copy"></ion-icon>
              </ion-button>
            </ion-col>  
            <ion-col class="last-text" size="12">
              <h5>Carteira de Mindexcoin</h5>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="btn-back" size="12">
        <ion-row>
          <ion-button fill="clear" (click)="changePage('all')"><h3><u>Voltar</u></h3></ion-button>
        </ion-row>
      </ion-col>  
    </ion-row>

    <ion-row *ngIf="display == 'payment_est'">
      <ion-col class="card-align" size="12">
        <ion-card class="card-value">
          <ion-row>
            <ion-col size="12">
              <h1>Realize o pagamento através da sua carteira de Easticoin.</h1>
            </ion-col>
            <ion-col size="7">
              <ion-card *ngIf="est_address == null">
								<img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=EST={{invoice_token}}">
              </ion-card>
              <ion-card *ngIf="est_address != null">
                <img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=easticoin:{{est_address}}">
              </ion-card>
            </ion-col>
            <ion-col class="img-card" size="5">
              <ion-row class="coin-icon">
                <img src="../assets/imgs/easti.png">
              </ion-row>
              <h2>Valor em Easticoin</h2>
              <h3>{{invoice.est_value}}</h3>
            </ion-col>
            <ion-col class="align">
              <!-- <ion-button class="btn-address" expand="block" size="small" *ngIf="est_address == null" (click)="generateAddress('EST')">Clique para enviar a uma Wallet Externa</ion-button> -->
              <ion-button class="btn-address copy-btn" expand="block" size="small" *ngIf="est_address != null" (click)="copy('Endereço copiado com sucesso '+est_address,est_address)">
                {{est_address}}
                <ion-icon name="copy"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col  class="last-text" size="12">
              <h5>Carteira de Easticoin</h5>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col class="btn-back" size="12">
        <ion-row>
          <ion-button fill="clear" (click)="changePage('all')"><h3><u>Voltar</u></h3></ion-button>
        </ion-row>
      </ion-col>  
    </ion-row>

  </ion-grid>

</ion-content>