.icon{
    img{
        max-width: 75px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

.top-card {
    margin: 0px;
    padding: 20px;
    border-radius: 0px;
    padding-top: 40px;
    padding-bottom: 30px;
    --background: url('../../../assets/imgs/bg_settings.svg') no-repeat center / cover;
}

.middle-card {
    text-align: center;
    background: #e8e8e8;
    p{
        font-size: 13px;
        color: #7e5da3;
    }
}

.user{
    text-align: left;
    h2{
        font-weight: 600;
        color: #7948ad;
    }
    h3{
        margin-top: -10px;
        color: #7948ad;
        font-size: 20px;
        font-weight: 300;
    }
    h4{
        margin-top:0px;
        color: white;
        font-size: 15px;
    }
    p{
        color: #7f5da3;
        font-size: 15px;
        margin-top: 11px;
        margin-bottom: 5px;
        text-align: left;
        padding-left: 16px;
    }
    .inline {
        padding-top: 15px;
        display: -webkit-inline-box;
    }
    span {
        padding-left: 5px;
        font-size: 12px;
        color: white;
    }
    .icon {
        color: white;
    }
}

.bg{
    background: #f4f6fc;
    padding: 4px!important;
    color: #7e5da3;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px !important;
}

.row{
    h1{
        padding-left: 15px;
        font-size: 3.8vw;
        font-weight: 400;
        color: #8f9093;
    }  
    p{
        padding-left: 15px;
        font-size: 3vw;
        font-weight: 400;
        color: #8f9093;
    }  
}

.input{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 0;
    padding: auto 0 auto 0;
    font-weight: 400;
    color: #8f9093;
    text-align: left;
}
.exit-button{
    ion-button{
        --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
        --background: linear-gradient(45deg ,#BF6CFF,#9041FF );
        --background-focused:  #bb69ff;
        height: 40px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        max-height: 40px;
        position: absolute;
        bottom: 0;
        font-weight: 600;
    }
}

