<ion-content>
  <ion-card class="top-card">
    <ion-row>
      <ion-col *ngIf="name != null && api_key != null" class="user" size="12">
        <h3>Olá,</h3>
        <h2>{{name}}</h2>
        <ion-row class="inline" (click)="copy('Código copiado com sucesso '+api_key,api_key)">
          <h4>API key: </h4>
          <span>{{api_key}}
              <ion-icon class="icon" name="ios-copy"></ion-icon>
          </span>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="name == null || api_key == null" style="text-align: center;">
        <ion-spinner style="color: white;" name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="middle-card">
    <ion-row>
      <ion-col>
        <p *ngIf="status_text != null">{{status_text}}</p>
        <ion-spinner *ngIf="status_text == null" name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-row>
    <p class="bg">Minha conta</p>
  </ion-row>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding">
          <ion-col class="row" size="3">
            <p>Nome:</p>
          </ion-col>
          <ion-col size="9">
            <p class="input">{{name}}</p>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding">
          <ion-col class="row" size="3">
            <p>{{document_type + ':'}}</p>
          </ion-col>
          <ion-col size="8">
            <p class="input">{{document_number}}</p>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item (click)="date('bank')" class="ion-no-padding">
          <ion-col class="row" size="11">
            <p>Dados Bancários</p>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item (click)="date('address')" class="ion-no-padding">
          <ion-col class="row" size="11">
            <p>Endereço</p>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item (click)="date('access')" class="ion-no-padding">
          <ion-col class="row" size="11">
            <p>Acesso</p>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="displayScanCode">
      <ion-col size="12">
        <ion-item (click)="scanCode()" class="ion-no-padding">
          <ion-col class="row" size="11">
            <p>Validar ingresso do evento</p>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!checkstatus || status == 2">
      <ion-col size="12">
        <ion-item (click)="date('archive')" class="ion-no-padding">
          <ion-col class="row" size="11">
            <p>Arquivos</p>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="exit-button">
    <ion-button size="small" expand="full" (click)="exit()">Sair da conta</ion-button>
  </ion-row>

</ion-content>