.card-up{
    
    ion-card{
        
        border-radius: 20px!important;
        color: #fff;
        background: linear-gradient(45deg ,#bb69ff, #8833ff);
        padding:10px;
        text-align: center;
        margin-bottom: 20px;
        h5{
            font-size: 4vw;
            font-weight: 400;
        }
        h1{
            font-weight:bold; 
            font-size: 10vw;
        }
    }
}

.bg{ 
    width: 100%;
    background: #f4f6fc;
    padding: 4px!important;
    color: #7e5da3;
    text-align: center;
    margin-top: -15px;
    margin-bottom: -15px;
}

.transactions{ 
    img{
        padding-top: 15px;
        padding-left: 5px;
        max-width: 30px;
    }
    h1{            
        color: #7e5da3; 
        font-weight: 400; 
        font-size: 14px;
        padding-top: 5px;
        margin: auto;    
        white-space: nowrap;
    }
    h2{                 
        color: #707070; 
        font-weight: 300; 
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;
    }
}

.opss {
    img{
    padding-top: inherit;
    width: 70px;
    margin:auto;
    }
}