<ion-header mode="ios">
  <ion-grid style="padding-top: 30px">
    <ion-row>
      <ion-col class="card-up" size="12">
        <ion-card>
          <h5>Meu saldo Compralo</h5>
          <h1 *ngIf="total != null">R$ {{formatReal(total)}}</h1>
          <ion-spinner style="margin-top: 5px;" color="light" *ngIf="total == null" name="bubbles"></ion-spinner>
          <p>Média calculada somando em
            <br>
            Real e Criptomedas da sua conta.</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <p class="bg">Histórico de transações</p>
  </ion-row>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="transactions" *ngFor="let dado of activity">
    <ion-row>
      <ion-col style="padding-right: 0px;" size="2">
        <img style="margin-right: 20px;" src="../assets/imgs/simbolo.svg">
      </ion-col>
      <ion-col size="8">
        <ion-row>
          <h1>{{dado.description | slice:0:40}}</h1>
        </ion-row>
        <ion-row>
          <h2>{{getDate(dado.created_at)}}</h2>
        </ion-row>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row class="opss" *ngIf="activity == 0">
      <img src="../assets/imgs/no_transaction.svg">
    </ion-row>
  </ion-card>


</ion-content>