<ion-content class="ion-padding">
  
  <ion-grid *ngIf="coin != 'BRL'" style="padding-top: 30px; margin-top: 10px">
    <ion-row class="head">
      <ion-col size="1">
        <ion-icon (click)="back()" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col size="10" class="top-img" style="text-align: center; margin-left: 5px">
          <img class="img-logo" src="../assets/imgs/logo-compralo-login.png">
      </ion-col>
    </ion-row>

    <ion-row (click)="copy('Endereço copiado com sucesso '+data.address, data.address)">
      <ion-col size="12">
        <ion-card class="card-q r">
          <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{name}}:{{data.address}}">
        </ion-card>
      </ion-col>
      <ion-col size="12" class="bottom-text">
        <ion-card class="card-address">
          <h1>{{data.address}} <ion-icon name="copy"></ion-icon></h1>
        </ion-card>
        <h2>Use o QR Code ou use o endereço acima para receber {{data.coin}}</h2>
        <p>*Clique no QR CODE para copiar o endereço</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="coin == 'BRL'" style="padding-top: 30px">
    <div class="card">
      <ion-row>
        <ion-col size="2">
          <ion-icon (click)="back()" name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <h1>Depósito</h1>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card class="card-bank">
          <img src="{{data.img}}">
          <h2><b>Favorecido:</b> {{data.favored}}</h2>
          <h2><b>Banco:</b> {{data.bank}}</h2>
          <h2><b>Agência:</b> {{data.agency}} | <b>Operação:</b> {{data.operation}}</h2>
          <h2><b>Conta Corrente:</b> {{data.account}}</h2>
          <h2><b>CNPJ:</b> {{data.cnpj}}</h2>
          <p>*Transferências eletrônicas devem ser originadas de conta bancária de sua titularidade.</p>
        </ion-card>
      </ion-row>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Valor do depósito (R$)</ion-label>
          <ion-input style="color:#000!important" placeholder="EX:1000" type="number" [(ngModel)]="value"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h3>Comprovante:</h3>
      </ion-col>
      <ion-col style="padding-right:18px;padding-left: 0px;" size="6">
        <ion-button (click)="presentActionSheet()" class="btn-add" size="small" expand="block">
          <p>Adicionar arquivo</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: inline-table">
        <img *ngIf="!receipt" src="assets/imgs/receipt.png">
        <img style="border-radius: 10px" *ngIf="receipt" [src]="receipt">
      </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card-last">
          <h2>Lembre-se:</h2>
          <h2>* Utilize imagens no formato png/jpeg/svg;</h2>
          <h2>* Não utilize imagens maiores que 2mb;</h2>
          <h2>* Utilize imagens que mostrem de forma nítida as informações;</h2>
        </ion-card>
      </ion-col>
      <ion-col class="btn-create" size="11">
        <ion-button (click)="storeDeposit()" color="success" expand="block" size="small">Criar interção de depósito</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
