.top-img {
    display: inline-table;
    margin-top: -11px;
}

.head{
    ion-icon{
        color: #623774;
        font-size: 30px;
    }
}

.bottom-text{
    h2{
        font-size: 10px;
        text-align: center;
    }
    p{
        font-size: 10px;
        text-align: center;
    }
}

.card-address{
    background-color: #f7f8f9;
    border-radius: 5px;
    h1{
        font-size: 12px;
        text-align: center;
        margin: 5px!important;
    }
}

.card{
    ion-icon{
        color: #623774;
        font-size: 30px;
    }
    h1{
        color: #623774;
        margin: auto;
        padding-right: 60px;
        padding-bottom: 25px;
    }
    img{
        margin: auto;
        max-width: 330px;
    }
}

h3{
    padding-left: 15px;
    font-size: 4vw;
    font-weight: 400;
    margin-top: 5px;
}


.btn-add{
    --background: linear-gradient(45deg, #bf6cff, #9041ff)!important;
    --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
    --background-focused:  #bb69ff;
    p{
        font-size: 13px;
        color: #fff;
    }
}

.card-last{
    margin-top: 10px;
    padding: 20px;
    --background: #9eedff;
    h2{
        font-size: 3.5vw;
        font-weight: 300;
        color: #262727;
         margin: auto;
    }
}

.btn-create{
    margin: auto;
    margin-top: -15px;
    ion-button{
        padding-top:-30px; 
        margin: auto;
        height: 35px;
    }
}

.card-bank{
    background-image: linear-gradient(45deg,#d6cee3, #f9d9ec);
    width: 100%;
    margin:15px;
    margin-top: -15px;
    padding: 20px;
    border-radius: 10px;
    img{
        width: 130px;
        margin:auto;
        margin-bottom: 10px;
    }
    h2{
        margin-top: 5px; 
        font-size: 12px;
    }
    p{
        font-size: 11px
    }
}