

ion-content{    
    --background: transparent;
    max-width: 350px!important;
    max-height: 400px!important;
}

.modal{
    --ion-background-color:#fff;
    top: calc(50% - (300px/2));
    left: calc(50% - (350px/2));
    img{
        max-width: 215px;
        margin: auto;
    }
}

.card-modal{
    --background:#fff;
    padding: 20px;
}

.text{
    color: #777;
    text-align: center;
}

.align{
    margin-top: 0px;
    margin-bottom: 0px;

}

.btn{
    text-align: center;
    color: #fff;
    font-size:13px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg,#bf6cff, #9041ff);
    border-radius: 50px;
    margin-top: 20px;
}

.btn-2{
    text-align: center;
    color: #9041ff;
    font-size:13px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    border: 1px solid #9041ff;
    background:#0000;
    border-radius: 50px;
    margin-top: 20px;
}
