<ion-content class="modal">
  <ion-grid>
    <ion-card class="card-modal">
      <ion-row>
        <img src="../assets/imgs/logo-compralo-login.png">
      </ion-row>
      <ion-row>
        <ion-col class="text" size="12">
          <p class="align">Tem certeza que deseja sair do app?</p>
        </ion-col>
      </ion-row>
      <ion-row class="align-btn">
        <ion-col size="6">
          <button (click)="back()" class="btn-2">Cancelar</button>
        </ion-col>
        <ion-col size="6">
          <button (click)="login()" class="btn">Sair</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>