<ion-tabs>
  <ion-tab-bar class="s-ion-icon" slot="bottom">
    <ion-tab-button color="dark" tab="home">
      <ion-icon color="dark" name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Carteira</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="scanCode()" *ngIf="displayPayment">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Pagar</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="invoice('withdraw')" *ngIf="displayInvoice">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Solicitar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="extract">
      <ion-icon name="list"></ion-icon>
      <ion-label>Extrato</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon  class="btn-tab" name="settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
