.head{
    ion-icon{
        color: #623774;
        font-size: 30px;
    }
}

.top-img {
    display: inline-table;
    margin-top: -11px;
}

.head-text {
    h2{ 
        margin:auto;
        color: #757575;
        font-size: 22px;
        font-weight: 700;
        margin-top: 10px;
    }
    p{
        margin:auto;
        color: #757575;
    }
}

.img{
    max-width: 50px;
    margin: auto;
}
.number-receive{
    border:1px solid #a9a9a9;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;    
    h1{
       color: #757575;
       font-size: 22px;
       margin: 5px!important
   }
}

.btn-num ion-button{
    width: 100%;
    border:1px solid #a9a9a9;
    border-radius: 6px;
    padding-top: 5px;
    // padding-bottom: 10px;
    background-color: transparent!important;
    h1{
        color: #000;
		text-align: center;
		margin: 15px!important
	}
}

.card-value{
    border:1px solid #a9a9a9;
    border-radius: 5px;
    width: 100%;
    margin:auto;
    background-color: #fafafd;
    // padding: 10px;
    color: #555;
    h2{
        font-size: 14px!important;
        margin:10px!important;
        margin-left:5px!important;
    }
}
.caard-value{
    p{
        margin: 0px;
    }
    border-radius: 7px;
    margin:auto;
    padding: 10px;
    background-color: #f5f8fd;
    circle {
       fill: #555!important;
   }
   h1{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    }
}

.text{
    p{
    color:#757575;
    text-align: left;
    font-size: 3.8vw;
    margin-top: -5px;
    }
}

.card-search{
    margin: auto;
    margin-top: -10px;
    background-color: #f5f8fd;
    ion-input{
        
        margin-left: 10px;
    }
}

.btn-search{
    padding: 0;
    height: 100%;
    width: 88%;
    margin-top: -5px;
    --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
    --background: linear-gradient(45deg, #bf6cff, #9041ff)!important;
    --background-focused:  #bb69ff;
    ion-button{
        margin: auto;
      --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
      --background: linear-gradient(45deg, #bf6cff, #9041ff)!important;
      --background-focused:  #bb69ff;
    }
}
.card-value-g{
    margin-top: 5px;
}

.fatur{
    --background: linear-gradient(45deg, #bf6cff, #9041ff)!important;
    --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
    --background-focused:  #bb69ff;
    ion-button{
        font-size: 4.5vw;
        font-weight: 500;
    }
}

.user_card {
    padding: 10px;
    background-color: #f6f8fe;
    border-radius: 10px;
   h1{
       padding-top:5px; 
       font-size: 13px;
        color: #707070;
        padding-left: 6px;
        span{
            font-size: 16px;
            color: #757575;
        }
   }
   h3{
       font-size: 12px;
       text-align: center;
       margin-top: 10px;
        color: #757575;
   }
}
.btn{
    ion-button{
        --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
        --background: linear-gradient(45deg, #bf6cff, #9041ff)!important;
        --background-focused:  #bb69ff;
        color: #fff;
        margin: auto;
        max-height: 30px;
        font-size: 3.8vw;
        font-weight: 300;
    }
}
.text-color{
        p{
        width: 100%;
        background: #f4f6fc;
        color: #7e5da3;
        text-align: center;
        padding: 7px;
    }
}
.trasactions{

    ion-icon{
          font-size: 30px;
          padding-top: 10px;
          color: #7e5da3;
      }
      ion-card{
          background-color: #f6f8fe;
      }   
      h1{            
          color: #7e5da3; 
          font-weight:800; 
          font-size: 2.4vw;
          padding-top: 5px;
          margin: initial;    
      }
      h2{                 
          color: #707070; 
          font-weight:300; 
          font-size: 2.8vw;
          margin: initial;
      }
      p{
          font-size: 3.5vw;
          font-weight:400; 
          color: #076304; 
          padding-left: 30px;
          padding-top: 5px;
        } 
}
.card-transfer{
    background-color: #f5f8fd;
    margin-top: -5px;
    border-radius: 10px;
    width: 100%;
}
.num-color{
    color: green!important;

}
.num-color-p{
    color: red!important;

}