<ion-content class="ion-padding">

  <ion-grid *ngIf="display == 'withdraw'" style="padding-top: 30px; margin-top: 10px">
    <ion-row class="head">
      <ion-col size="1">
        <ion-icon (click)="back()" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col size="10" class="top-img" style="text-align: center; margin-left: 5px">
          <img class="img-logo" src="../assets/imgs/logo-compralo-login.png">
      </ion-col>
    </ion-row>
    <ion-row class="head-text">
      <h2>Solicitar Pagamento</h2>
      <p>Informe o valor que deseja solicitar.</p>
    </ion-row>

    <ion-row style="padding-left: 8px;padding-right: 2px;">
      <ion-col class="number-receive" size="12">
        <h1>R${{total}}</h1>
      </ion-col>
    </ion-row>


    <ion-row class="row-number">
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(1)">
          <h1>1</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(2)">
          <h1>2</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(3)">
          <h1>3</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(4)">
          <h1>4</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(5)">
          <h1>5</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(6)">
          <h1>6</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(7)">
          <h1>7</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(8)">
          <h1>8</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(9)">
          <h1>9</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue(0)">
          <h1>0</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="addValue('.')">
          <h1>.</h1>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="btn-num">
        <ion-button fill="clear" (click)="delete()">
          <h1><img src="../assets/imgs/delete.png" class="img-delet"></h1>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="card-value-g">
      <ion-col size="6">
        <ion-card class="card-value">
          <h2>(BTC) {{total_btc}}</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-value">
          <h2>(ETH) {{total_eth}}</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-value">
          <h2>(MIC) {{total_mic}}</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-value">
          <h2>(EST) {{total_est}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-left: 2px;padding-right: 2px;" size="12">
        <ion-button class="fatur" expand="block" small="large" (click)="generate()">Gerar fatura</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="display == 'send'" style="padding-top: 30px; margin-top: 10px">
    <ion-row class="head">
      <ion-col size="1">
        <ion-icon (click)="back()" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col size="10" class="top-img" style="text-align: center">
        <img class="img" src="../assets/imgs/simbolo.svg">
      </ion-col>
    </ion-row>
    <ion-row class="head-text">
      <h2>Enviar para outra conta</h2>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="caard-value">

          <ion-row>
            <ion-col size="8">
               <p>Saldo Real (BRL)</p>
            </ion-col>
            <ion-col  size="2" style="text-align: center; font-size: 25px; color: #888;">
              <ion-icon *ngIf="saldos == 'eye'"(click)="senssure('eye_off')" name="eye"></ion-icon>
              <ion-icon *ngIf="saldos == 'eye_off'" (click)="senssure('eye')" name="eye-off"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col *ngIf="saldos == 'eye'" size="12">
               <h1 *ngIf="brl != null">R$ {{formatReal(brl)}}</h1>
            </ion-col>
            <ion-col *ngIf="saldos == 'eye_off'" size="12">
              <ion-card  style="background: #80808039; width: 100%;height: 31px;margin-top: 0px;margin-bottom: 5px;margin-left: auto; border-radius: 3px;"></ion-card>
            </ion-col>
          </ion-row>

          <ion-spinner style="margin-top: 5px;" *ngIf="brl == null" name="bubbles"></ion-spinner>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text" size="12">
        <p>Informe o E-mail ou Código da Conta de destino.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-card class="card-search">
          <ion-input placeholder="Pesquisar por..." type="email" [(ngModel)]="receiver"></ion-input>
        </ion-card>
      </ion-col>
      <ion-col style="padding: 0" size="2">
        <ion-button (click)="findReceiver()" size="small" class="btn-search">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" *ngIf="user_code == null && status != false">
        <ion-card style="width: 100%;margin: auto;margin-top: 10px" class="user_card">
          <img src="http://app.compralo.io/assets/img/images/528x115_encontre.png">
          <h3>Antes de enviar, encontre para quem você vai enviar...</h3>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="status != false">
      <ion-col size="12" *ngIf="user_code != null">
        <ion-card style="width: 100%;margin: auto; margin-top: 10px" class="user_card">
          <h1>Código do usuário: <span>{{user_code}}</span></h1>
          <h1>Nome do usuário: <span>{{user_name}}</span></h1>
          <h1>Email do usuário: <span>{{user_email}}</span></h1>
          <ion-row>
            <ion-col size="12">
              <ion-card style="width:100%; margin:auto;padding-left: 7px;border-radius: 5px">
                <ion-row>
                  <ion-col size="4">
                    <ion-select [(ngModel)]="coinToSend" placeholder="Moeda">
                      <ion-select-option value="BRL">BRL</ion-select-option>
                      <ion-select-option value="BTC">BTC</ion-select-option>
                      <ion-select-option value="ETH">ETH</ion-select-option>
                      <ion-select-option value="MIC">MIC</ion-select-option>  
                      <ion-select-option value="EST">EST</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="8">
                    <ion-input placeholder="0.00" [(ngModel)]="valueToSend"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="btn" size="12" *ngIf="user_code != null">
        <ion-button (click)="makeTransfer()" shape="round" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="status == false">
      <ion-col size="12">
        <ion-card style="width: 100%;margin: auto; margin-top: 10px" class="user_card">
          <img style="margin-bottom: 10px!important; width:98%!important;margin:auto; "
            src="https://app.compralo.io/assets/img/banners/usuario_naoencontrado.png">
          <img style="margin-bottom: 10px!important; width:98%!important;margin:auto; "
            src="https://app.compralo.io/assets/img/banners/convite.png">
          <ion-card
            style="width: 97%;margin: auto; border-radius: 5px!important;margin-bottom: 10px; padding-left: 7px">
            <ion-input placeholder="Informe o Email do convidado:" [(ngModel)]="email"></ion-input>
          </ion-card>
          <ion-row>
            <ion-col size="12">
              <ion-card style="width:100%; margin:auto;padding-left: 7px;border-radius: 5px">
                <ion-input placeholder="0.00" [(ngModel)]="valueToSend"></ion-input>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="btn" size="12" *ngIf="status == false">
        <ion-button (click)="sendInvitation()" shape="round" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <div class="text-color">
      <p>Histórico de transações</p>
    </div>
    <ion-row style="padding-top: 15px;" class="trasactions" *ngIf="transaction_brl != 0">
      <ion-card class="card-transfer" *ngFor="let transac_brl of transaction_brl">
        <ion-row>
          <ion-col size="2">
            <ion-icon class="icon-sub" name="ios-shuffle" *ngIf="transac_brl.type_id == 1"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 2"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_brl.type_id == 3"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 4"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 5"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-in" *ngIf="transac_brl.type_id == 6"></ion-icon>
            <ion-icon class="icon-sub" name="ios-log-out" *ngIf="transac_brl.type_id == 7"></ion-icon>
          </ion-col>
          <ion-col style="padding-left: 0px;" size="5">
            <h1 style="margin-top: 5px;margin-bottom: 0px;">{{transac_brl.description | slice:0:40}}</h1>
            <h2 style="margin-top: 5px;margin-bottom: 0px;">{{getDate(transac_brl.created_at)}}</h2>
          </ion-col>
          <ion-col size="5">
            <ion-row>
              <p class="num-color-p" *ngIf="transac_brl.type_id == 1">R$ {{formatReal(transac_brl.value)}}</p>
              <p class="num-color" *ngIf="transac_brl.type_id == 2">R$ {{formatReal(transac_brl.value)}}</p>
              <p class="num-color-p" *ngIf="transac_brl.type_id == 3">R$ {{formatReal(transac_brl.value)}}</p>
              <p class="num-color" *ngIf="transac_brl.type_id == 4">R$ {{formatReal(transac_brl.value)}}</p>
              <p class="num-color" *ngIf="transac_brl.type_id == 5">R$ {{formatReal(transac_brl.value)}}</p>
              <p class="num-color" *ngIf="transac_brl.type_id == 6">R$ {{formatReal(transac_brl.value)}}</p>
              <p class="num-color-p" *ngIf="transac_brl.type_id == 7">R$ {{formatReal(transac_brl.value)}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row class="opss" *ngIf="transaction_est == 0">
      <img src="assets/imgs/no_transaction.svg">
    </ion-row>
  </ion-grid>
</ion-content>