.img-soon{
    img{
        padding-top: 20px;
        max-width: 70%;
        margin:auto;
    }
}

.text{
    h2{
        padding-bottom: 40px;
        text-align: center;
        font-size: 4.8vw;
        font-weight: 400;
        color: rgb(122, 121, 121);
    }
}

.double-img{
    img{
        margin-top: -30px;
        margin-left: 10%;
        width: 80%;
        height: 80%;
        // margin:auto;
    }
}

.btn-register{
    padding-top: 30px;
    text-align: center;
    ion-button{ 
        --background: linear-gradient(45deg ,#8833ff, #bb69ff );
        --background-focused:  #bb69ff;
        --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );       
        margin:auto;
        p{
            margin: 0px;
            margin-left: 35px!important;
            margin-right: 35px!important;
        }
    }
}

.btn-login{
    ion-button{
        margin:auto;
        --color: #8833ff;
    }
}


// secction login -------->

.back-button{
    ion-icon{
        color: #a9a9a9;
		font-weight: 400;
		font-size: 40px;
		padding-top: 20px;
    }
}

.img-up{
    text-align: center;
    margin-top: 20px;
    img{
        max-width: 60%;
    }
}

.input{
   margin: 20px;
   padding-left:10px;
    ion-input{
        padding-left: 10px;
        border: 1px solid rgb(150, 150, 150)!important;
		border-radius: 50px;
         --background: #fafcfd;
         --padding-start: 20px;
       
    }
}

.button-login{

    ion-button{
        --background: linear-gradient(45deg ,#bb69ff,#8833ff  );
        --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
        --background-focused:  #bb69ff;           
        height: 50px;
        margin-left: 25px;
        margin-right: 20px;
        
        p{
            margin: auto;
            font-weight: 600;
            font-size: 4.8vw;
        }
    }
}

.two-person{
    img{
        margin-top: -15px;
        margin-left: 10%;
        width: 80%;
        height: 80%;
    }
}

// forgot password--------->

.img-symbol{

    margin: auto;
    max-width: 70px;
}
.texxt{
    p{
    font-weight: 400;
    color: rgb(129, 129, 129);
    text-align: center;
    }
}

// secction register name ----->

.text{
    color: #777;
    text-align: center;
    h3{
        font-weight: 600
    }
    p{
        color: #777;
		text-align: center;
		font-weight: 400; 
    }
}

// sewcction email -------->

.input-confirm{
    margin-top: -38px;
}

// secction password ----------->

.button-finish{   
    ion-button{
        --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
        --background: linear-gradient(45deg ,#bb69ff,#8833ff  );
        --background-focused:  #bb69ff;
        height: 40px;
        margin-left: 25px;
        margin-right: 20px;
        p{
            margin: auto;
            font-weight: 600;
            font-size: 4.8vw;
        }
    }
}

.confirm-password{
    margin-top: -38px;
}

.type{
    ion-input{
        color: #777;
    }
    border: 1px solid #777;
    border-radius: 25px;
    width: 310px;
    height: 45px;
    margin: auto;
}