<ion-content>
  <ion-grid *ngIf="changePage == 'start'">
    <ion-row>
      <ion-col class="img-soon" size="12">
        <ion-row>
          <img src="../assets/imgs/logo-compralo-login.png">
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <h2>Bem-vindo ao seu novo<br>
          meio de pagamento</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="double-img">
        <ion-row>
          <img src="../assets/imgs/casallogin.png">
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="btn-register" size="12">
        <ion-button shape="round" (click)="onChange('name')">Criar uma conta compralo</ion-button>
      </ion-col>
      <ion-col>
        <ion-row class="btn-login">
          <ion-button fill="clear" (click)="onChange('login')"><u>Já sou cadastrado</u></ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="changePage == 'login'">
    <ion-row>
      <ion-col class="back-button">
        <ion-icon (click)="onChange('start')" name="arrow-round-back"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="img-up" size="12">
        <img src="../assets/imgs/logo-compralo-login.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input">
        <ion-input placeholder="E-mail" type="email" [(ngModel)]="email"></ion-input>
        <br>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-login">
        <ion-button expand="block" shape="round" (click)="login()">Entrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-row class="btn-login">
        <ion-button fill="clear" (click)="onChange('forgot')"><u>Esqueci minha senha</u></ion-button>
      </ion-row>
    </ion-col>
    <ion-row>
      <ion-col class="two-person">
        <ion-row>
          <img src="../assets/imgs/casallogin.png">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="changePage == 'forgot'">
    <ion-row>
      <ion-col class="back-button">
        <ion-icon (click)="onChange('login')" name="arrow-round-back"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="img-symbol">
        <img src="../assets/imgs/simbolo.svg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input">
        <ion-input placeholder="E-mail" type="email" [(ngModel)]="email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-login">
        <ion-button expand="block" shape="round" (click)="forgot('forgot')">
          <p>Enviar</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-col class="texxt">
      <p>É importante que o e-mail inserido seja o
        <br>
        o mesmo cadastrado.</p>
    </ion-col>

  </ion-grid>



  <ion-grid *ngIf="changePage == 'name'">
    <ion-row>
      <ion-col class="back-button">
        <ion-icon (click)="onChange('start')" name="arrow-round-back"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <h3>Olá, qual o seu nome?</h3>
        <p>É indispensavel que você informe <br> o seu nome verdadeiro.</p>
        <p>Não utilize nome de terceiros.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input">
        <ion-input placeholder="Nome completo" type="text" [(ngModel)]="name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-login">
        <ion-button expand="block" shape="round" (click)="changerName('email')">Avançar</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="changePage == 'email'">
    <ion-row>
      <ion-col class="back-button">
        <ion-icon (click)="onChange('name')" name="arrow-round-back"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        <h3>olá, qual o seu e-mail?</h3>
        <p>um email de confirmação sera enviado <br> para esse endereço.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input">
        <ion-input placeholder="E-mail da conta" type="email" [(ngModel)]="email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="input-confirm">
      <ion-col class="input">
        <ion-input placeholder="Confirme o e-mail da conta" type="email" [(ngModel)]="confirm_email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col class="button-login">
        <ion-button expand="block" shape="round" (click)="changerEmail('document_type')">Avançar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="changePage == 'document_type'">
    <ion-row>
      <ion-col class="back-button">
        <ion-icon (click)="onChange('email')" name="arrow-round-back"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-col class="text">
      <h3>Para sua segurança, <br> nos informe seus documentos.</h3>
    </ion-col>
    <ion-row>
      <ion-col class="input">
        <ion-input type="text" name="document_number" placeholder="CPF/CNPJ" [brmasker]="{person: true}" [(ngModel)]="document_number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-login">
        <ion-button expand="block" shape="round" (click)="changerDocument('password')">Avançar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="changePage == 'password'">
    <ion-row>
      <ion-col class="back-button">
        <ion-icon (click)="onChange('document_type')" name="arrow-round-back"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-col class="text">
      <h3>Crie sua senha.</h3>
      <p>Sua senha deve conter pelo menos 8 dígitos <br> um número e uma lerta maiúscula.</p>
    </ion-col>
    <ion-row>
      <ion-col class="input">
        <ion-input placeholder="Senha" type="password" [(ngModel)]="password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="confirm-password">
      <ion-col class="input">
        <ion-input placeholder="Confirme sua senha" type="password" [(ngModel)]="confirm_password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-finish">
        <ion-button expand="block" shape="round" (click)="changerPassword()">Finalizar cadastro</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>