<ion-content>

  <ion-grid *ngIf="coin == 'BRL'" style="padding-top: 30px">
    <ion-row>
      <ion-col class="top" size="1">
        <ion-icon (click)="back()" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col class="text" size="10">
        <h1>Retirada</h1>
      </ion-col>
      <ion-col size="1">
        <h1></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nome Completo:</ion-label>
          <ion-input [(ngModel)]="user_name" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">CPF:</ion-label>
          <ion-input [(ngModel)]="document_number" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>

          <ion-label position="stacked">Banco:</ion-label>
          <ion-select [(ngModel)]="bank_name">
            <ion-select-option *ngFor="let banks of banks">{{banks.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Agência:</ion-label>
          <ion-input [(ngModel)]="agency"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Conta:</ion-label>
          <ion-input [(ngModel)]="account"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Digito:</ion-label>
          <ion-input [(ngModel)]="digit"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Tipo da conta:</ion-label>
          <ion-select [(ngModel)]="account_type">
            <ion-select-option>Corrente</ion-select-option>
            <ion-select-option>Poupança</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Valor:</ion-label>
          <ion-input [(ngModel)]="amount"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">2FA:</ion-label>
          <ion-input [(ngModel)]="two_fa"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-left: 20px;" size="12">
        <ion-button (click)="sendBRL()" color="success" expand="block" size="small">Solicitar saque</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="coin != 'BRL'" class="page">
    <ion-row>
      <ion-col class="top" size="1">
        <ion-icon (click)="back()" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col class="text" size="10">
        <h1>Retirada</h1>
      </ion-col>
      <ion-col size="1">
        <h1></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="available" size="12">
        <h1>Saldo disponível:</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="balance" size="12">
        <ion-card>
          <h1 *ngIf="balance != null">{{formatCrypt(balance)}} {{coin}}</h1>
          <ion-spinner style="margin-left: 150px" color="dark" *ngIf="balance == null" name="bubbles"></ion-spinner>
        </ion-card>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="row-content">
      <ion-col size="12">
        <h2>Qual o valor que deseja enviar?</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input" size="12">
        <ion-input placeholder="0.000000" type="number" [(ngModel)]="amount"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-card">
        <ion-card class="card-balance">
          <ion-row>
            <ion-col class="text-card" size="6">
              <h2>Taxa:</h2>
              <h2>Chegará ao destino:</h2>
              <h2>Valor total:</h2>
            </ion-col>
            <ion-col class="numbers-card" size="6">
              <h3 id="valueTaxaCrypto" style="color:red; margin-top: 20px">{{getTaxa()}}</h3>
              <h3 id="valueCrypto">{{getTransferValue()}}</h3>
              <h3 id="valueTotalCrypto">{{getTotal()}}</h3>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="address" size="12">
        <h2>Para qual endereço deseja enviar?</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input" size="10">
        <ion-input placeholder="Endereço" [(ngModel)]="address"></ion-input>
      </ion-col>
      <ion-col class="align-qr" size="2">
        <svg class="img-qr" (click)="scanCode()" id="Regular-M" xmlns="http://www.w3.org/2000/svg" width="29.445"
          height="29.428" viewBox="0 0 29.445 29.428">
          <path id="Caminho_18" data-name="Caminho 18"
            d="M1406.32,1056.22a1.168,1.168,0,0,0,1.283-1.315v-3.785a2.249,2.249,0,0,1,2.5-2.518h3.881a1.291,1.291,0,1,0,0-2.582h-3.929c-3.336,0-5.036,1.652-5.036,4.955v3.929A1.18,1.18,0,0,0,1406.32,1056.22Zm26.847,0a1.173,1.173,0,0,0,1.3-1.315v-3.929c0-3.3-1.668-4.955-5.036-4.955h-3.914a1.291,1.291,0,1,0,0,2.582h3.881a2.251,2.251,0,0,1,2.485,2.518v3.785A1.175,1.175,0,0,0,1433.166,1056.22Zm-14.113,3.127v-5.6a.7.7,0,0,0-.706-.706h-5.581a.7.7,0,0,0-.705.706v5.6a.688.688,0,0,0,.705.689h5.581A.688.688,0,0,0,1419.054,1059.347Zm2.774-4.907h4.2v4.2h-4.2Zm2.983,2.983v-1.748h-1.748v1.748Zm-8.371,0v-1.748h-1.764v1.748Zm-2.983,5.4h4.2v4.2h-4.2Zm13.76.546v-1.748h-1.748v1.748Zm-4.827,0v-1.748h-1.748v1.748Zm-5.95,2.421v-1.748h-1.764v1.748Zm8.371,0v-1.748h-1.764v1.748Zm.706,9.655h3.914c3.367,0,5.036-1.668,5.036-4.972v-3.913a1.292,1.292,0,1,0-2.583,0v3.785a2.251,2.251,0,0,1-2.485,2.518h-3.881a1.291,1.291,0,1,0,0,2.582Zm-15.46,0h3.929a1.291,1.291,0,1,0,0-2.582H1410.1a2.249,2.249,0,0,1-2.5-2.518v-3.785a1.291,1.291,0,1,0-2.582,0v3.913C1405.021,1073.8,1406.721,1075.448,1410.057,1075.448Zm12.333-7.233v-1.749h-1.748v1.749Zm4.827,0v-1.749h-1.748v1.749Zm.209-8.869v-5.6a.7.7,0,0,0-.706-.706h-5.581a.7.7,0,0,0-.706.706v5.6a.688.688,0,0,0,.706.689h5.581A.688.688,0,0,0,1427.425,1059.347Zm-13.968-4.907h4.2v4.2h-4.2Zm5.6,13.279v-5.6a.689.689,0,0,0-.706-.69h-5.581a.688.688,0,0,0-.705.69v5.6a.7.7,0,0,0,.705.705h5.581A.7.7,0,0,0,1419.054,1067.718Z"
            transform="translate(-1405.021 -1046.02)" fill="#5a2e88" />
        </svg>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="advising" size="12">
        <h4>Após o envio será necessario a confirmação da transação no seu email.</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input" size="12">
        <h2>Digite o código 2FA</h2>
        <ion-input type="number" placeholder="2FA" [(ngModel)]="two_fa"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="btn-transaction" size="12">
        <ion-button expand="block" size="small" color="success" (click)="withdraw()">Realizar Transação</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>