.page{
    padding: 25px;
}

.top{
    ion-icon{
        font-size: 10vw;
        margin-top: 17px;
        color:#623774,
    }
}

.text{
    h1{
        color:#623774;
        text-align: center;

    }
}

.available{
    h1{
        text-align: center;
        color: #757575;
        margin-top: 10px;

    }
}

.balance{
    ion-card{
        width: 100%;
        border-radius: 5px;
        background-color: #eeeeee;
        margin:auto;
    h1{
        margin: 5px!important;
        font-size: 16px;
        color: rgb(15, 15, 15);
        text-align: center;
        font-weight: bold;
        }
    }
}

.row-content{
    h2{
        font-size: 4vw;
        text-align: center;
        color: #7e5da3
    }
}

.input{
    h2{
        font-size: 4.2vw
    }
    
    ion-input{
        --padding-start: 10px;
        border-radius: 5px;
        border:1px solid #757575;
    }
}

.align-card{
    margin-left: 0px;
    margin-right: 0px;
}

.card-balance{
    margin-left: 2px;
    margin-right: 2px;
    background-color: #eeeeee;
    h2{
        color: #494949;
        font-size: 4vw;
    }
    h3{
        color: #494949;
        text-align: center;
        font-size: 4vw;
    }
}

.text-card{
    padding-left: 15px;
}

.numbers-card{
    padding-left: 40px;
}

.address{
    text-align: center;
    margin-top: 0px;
    color: #7e5da3;
    h2{
        font-size: 4vw;
    }
}

.align-qr{
    padding-left: 15px;
    padding-top: 10px;
}


.advising{
    h4{
        font-size: 4vw;
        text-align: center;
        font-style: italic; 
    }
}

.btn-transaction{
    padding-left: 3px;
    padding-right: 3px;
}

