<ion-header mode="ios">
  <ion-grid style="padding-top: 30px; margin-bottom: -20px;">
    <ion-row>
      <ion-col class="symbol" size="12">
        <ion-row>
          <ion-col style="padding-top: 10px;" size="2">
            <img src="../assets/imgs/simbolo.svg">
          </ion-col>
          <ion-col class="code" size="10">
            <ion-card (click)="copy('Código copiado com sucesso '+code,code)">
              <h1>Código da Conta: <strong>{{code}}</strong>
                <ion-icon class="icon" name="copy"></ion-icon>
              </h1>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-slides class="ion-no-padding">
      <ion-slide class="ion-no-padding">
        <ion-row style="margin-top: -6px;" class="card-block">
          <ion-col class="card-up" size="12">
            <ion-row>
              <ion-card>
                <ion-row>
                  <ion-col size="1">
                  </ion-col>
                  <ion-col size="10">

                    <ion-row>
                      <ion-col size="1"></ion-col>
                      <ion-col size="10">
                        <h5>Meu saldo Compralo</h5>
                      </ion-col>
                      <ion-col size="1">
                        <ion-icon *ngIf="saldos == 'eye'" (click)="senssure('eye_off', true)" name="eye"></ion-icon>
                        <ion-icon *ngIf="saldos == 'eye_off'" (click)="senssure('eye', false)" name="eye-off"></ion-icon>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col *ngIf="saldos == 'eye_off'" size="12">
                        <ion-card class="card_span"></ion-card>
                      </ion-col>
                      <ion-col *ngIf="saldos == 'eye'" size="12">
                        <h1 *ngIf="total != null">R$ {{formatReal(total)}}</h1>
                      </ion-col>
                    </ion-row>

                    <ion-spinner style="margin-top: 5px;" color="light" *ngIf="total == null" name="bubbles"></ion-spinner>
                    <p>Média calculada em Real, somando o saldo de todas as moedas de sua conta.</p>
                  </ion-col>
                  <ion-col *ngIf="compralo_credit_active" size="1" class="ion-no-padding">
                    <ion-icon style="margin-top: 95px!important" name="ios-arrow-forward"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="modalWithdraw">
                  <ion-col size="12">
                    <ion-button (click)="request('send')" color="light" shape="round" fill="outline">Enviar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="button" *ngIf="!modalWithdraw">
                  <ion-col style="margin-bottom: 10px;" size="12">
                    <ion-button (click)="request('send')" color="light" shape="round" fill="outline">Enviar</ion-button>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide class="ion-no-padding" *ngIf="compralo_credit_active">
        <ion-row style="margin-top: -7px; width: 96%" class="card-block">
          <ion-col class="card-up2" size="12">
            <ion-row>
              <ion-card class="background-card">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding">
                    <ion-icon style="margin-top: 95px!important;padding-right: 15px;" name="ios-arrow-back"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    <img src="../assets/imgs/logo-compralo-mais.svg">
                    <div class="compralo-mais-inactive" *ngIf="!compralo_credit">
                      <p style="font-size: 15px !important;">Programa de créditos Compralo</p>
                      <ion-row class="button">
                        <ion-col size="12">
                          <ion-button (click)="confirmActivation()" color="light" shape="round" fill="outline">Adiquira seu
                            crédito já!</ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div class="compralo-mais-active" *ngIf="compralo_credit">
                      <p>Meu saldo Compralo</p>
                      <p class="text-compralo-mais">+</p>
                      <h1 *ngIf="total != null">R$ {{formatReal(credit)}}</h1>
                      <ion-spinner style="margin-top: 5px;" color="light" *ngIf="total == null" name="bubbles">
                      </ion-spinner>
                    </div>
                  </ion-col>
                  <ion-col size="1">
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="card-test">
    <ion-row>
      <ion-col size="10">
        <p>Saldo Real (BRL)</p>
        <ion-row>
          <ion-col *ngIf="saldos == 'eye'" size="12">
            <h2 *ngIf="total != null">R$ {{formatReal(brl)}}</h2>
          </ion-col>
          <ion-col *ngIf="saldos == 'eye_off'" size="10">
            <ion-card class="card_sens"></ion-card>
          </ion-col>
        </ion-row>
        <ion-spinner style="margin-top: 5px;" color="dark" *ngIf="total == null" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col size="2">
        <img class="test" src="../assets/imgs/brl.svg">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-test">
    <ion-row>
      <ion-col size="10">
        <p>Saldo Bitcoin (BTC)</p>
        <ion-row>
          <ion-col *ngIf="saldos == 'eye'" size="12">
            <h2 *ngIf="total != null">{{formatCrypto(btc)}}</h2>
          </ion-col>
          <ion-col *ngIf="saldos == 'eye_off'" size="10">
            <ion-card class="card_sens"></ion-card>
          </ion-col>
        </ion-row>
        <ion-spinner style="margin-top: 5px;" color="dark" *ngIf="total == null" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col size="2">
        <img class="test" src="../assets/imgs/btc.svg">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-test">
    <ion-row>
      <ion-col size="10">
        <p>Saldo Ethereum (ETH)</p>
        <ion-row>
          <ion-col *ngIf="saldos == 'eye'" size="12">
            <h2 *ngIf="total != null">{{formatCrypto(eth)}}</h2>
          </ion-col>
          <ion-col *ngIf="saldos == 'eye_off'" size="10">
            <ion-card class="card_sens"></ion-card>
          </ion-col>
        </ion-row>
        <ion-spinner style="margin-top: 5px;" color="dark" *ngIf="total == null" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col size="2">
        <img class="test" src="../assets/imgs/eth.svg">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-test">
    <ion-row>
      <ion-col size="10">
        <p>Saldo Mindexcoin (MIC)</p>
        <ion-row>
          <ion-col *ngIf="saldos == 'eye'" size="12">
            <h2 *ngIf="total != null">{{formatCrypto(mic)}}</h2>
          </ion-col>
          <ion-col *ngIf="saldos == 'eye_off'" size="10">
            <ion-card class="card_sens"></ion-card>
          </ion-col>
        </ion-row>
        <ion-spinner style="margin-top: 5px;" color="dark" *ngIf="total == null" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col size="2">
        <img class="test" src="../assets/imgs/mic.svg">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-test">
    <ion-row>
      <ion-col size="10">
        <p>Saldo Eastcoin (EST)</p>
        <ion-row>
          <ion-col *ngIf="saldos == 'eye'" size="12">
            <h2 *ngIf="total != null">{{formatCrypto(est)}}</h2>
          </ion-col>
          <ion-col *ngIf="saldos == 'eye_off'" size="10">
            <ion-card class="card_sens"></ion-card>
          </ion-col>
        </ion-row>
        <ion-spinner style="margin-top: 5px;" color="dark" *ngIf="total == null" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col size="2">
        <img class="test" src="../assets/imgs/est.svg">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-test" *ngIf="compralo_credit && compralo_credit_active">
    <ion-row>
      <ion-col size="10">
        <p>Saldo Compralo+ (BRL)</p>
        <ion-row>
          <ion-col *ngIf="saldos == 'eye'" size="12">
            <h2 *ngIf="credit != null">{{formatReal(credit)}}</h2>
          </ion-col>
          <ion-col *ngIf="saldos == 'eye_off'" size="10">
            <ion-card class="card_sens"></ion-card>
          </ion-col>
        </ion-row>
        <ion-spinner style="margin-top: 5px;" color="dark" *ngIf="credit == null" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col size="2">
        <img class="test" src="../assets/imgs/icone-home-compralomais.svg">
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>