.symbol{
    img{
        max-width: 35px;
        margin-left: 10px;
    }
    ion-card{
        
        margin-top: 5px;
        h1{
            color: #fff;
            background: linear-gradient(45deg ,#8833ff, #bb69ff );
            padding: 10px;
            text-align: center;
            margin:auto;
            font-size: 11px;
        }
    }
}

.card-up{
    .card_span{
        background: #ffffff39;
        width: 100%;height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
    }
    ion-icon{
        text-align: center;
        font-size: 25px;
        color: #fff;
        text-align: center;
        font-size: 25px; 
        color: #fff;
        padding-top: 0px;
    }
    ion-card{
        margin-bottom: -15px;
        border-radius: 15px;
        color: #fff;
        background: linear-gradient(45deg ,#bb69ff, #8833ff);
        padding:15px;
        text-align: center;
        margin-top: -15px;
        width: 100%;
        img{
            max-width: 200px;
            margin: auto;
            padding: 25px;
            margin-top: -35px;
            padding-bottom: 0px;
        }
        h5{
            margin: 0px;
            font-size: 18px;
            font-weight: 600;
        }
        h1{
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight:bold; 
            font-size: 25px;
        }
        p{
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 13px;
        }
    }
    ion-button{
        margin-top: 0px;
        margin-bottom: 0px;    
        color: #fff;
        height: 30px;
        width: 100%;
        font-size: 14px;
    }
}
.card-up2{
    
    ion-card{
        // margin-bottom: -15px;
        margin: auto;
        border-radius: 15px;
        color: #fff;
        padding:15px;
        text-align: center;
        // margin-top: -15px;
        width: 100%;
        img{
            max-width: 200px;
            margin: auto;
            padding: 25px;
            margin-top: -11px;
            padding-bottom: 0px;
        }
        h3{
            font-size: 16px;
            margin-top: 10px;

        }
        h1{
            margin-top: 10px;
            margin-bottom: 0px;
            font-weight:bold; 
            font-size: 28px;
        }
        p{
            margin-top: 0px;
            margin-bottom: 9px;
            font-size: 16px;
        }
    }
    ion-button{
        margin-top: 0px;
        margin-bottom: 0px;    
        color: #fff;
        height: 30px;
        width: 100%;
        font-size: 14px;
    }
}
.card_sens{
    background: #80808039;
     width: 100%;
     height: 31px;
     margin: auto; 
     margin-bottom: 17px;
     border-radius: 3px;
}

.background-card{
    background: linear-gradient(45deg ,#bb69ff, #8833ff);
}

.compralo-mais-active{
    padding-top: 35px;
    padding-bottom: 44px;
}

.compralo-mais-inactive{
    padding-top: 35px;
    padding-bottom: 40px;
}

.text-compralo-mais{
    position: absolute;
    margin-left: 188px;
    margin-top: -33px!important;
}

.card-block{
    display: block;
}

.icon{
    padding-left: 5px;
}

.test{
    max-width: 45px;
    position: absolute;
    right: 15%;
    padding-top: 20px;
}
.card-test{
    margin: 22px;
    margin-bottom: -15px;
    margin-top: 23px;
    border-radius: 15px;
    p{
        margin-bottom: 0px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 6px;
    }
    h2{
        margin-top: 10px;
        color:#602f94;
        font-weight:bold; 
    }
}
