<ion-content>
  <ion-grid *ngIf="display != 'archive'" style="padding-top: 30px">
    <ion-row>
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="back()" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <img src="../assets/imgs/logo-compralo-login.png">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="bg" *ngIf="display == 'bank'">Conta Bancária</p>
  <ion-grid *ngIf="display == 'bank'">
    <ion-item>
      <ion-label position="stacked">Banco:</ion-label>
      <ion-select [(ngModel)]="bank_name">
        <ion-select-option  *ngFor="let banks of banks">{{banks.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Agência:</ion-label>
      <ion-input placeholder="0000" type="number" [(ngModel)]="agency"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Conta:</ion-label>
      <ion-input placeholder="000001" type="number" [(ngModel)]="account"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dígito da conta:</ion-label>
      <ion-input placeholder="0" type="number" [(ngModel)]="digit"></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col style="padding-left: 15px;" class="edit-bank" size="12">
        <ion-button  *ngIf="bank_user == null" (click)="addUserBank()" size="small" expand="block" color="success">Salvar Banco</ion-button>
        <ion-button  *ngIf="bank_user != null" (click)="editUserBank()" size="small" expand="block" color="success">Editar Banco</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!--Address -->
  <p class="bg" *ngIf="display == 'address'">Endereço</p>
  <ion-grid *ngIf="display == 'address'">
    <ion-item>
      <ion-label position="stacked">Caixa Postal:</ion-label>
      <ion-input placeholder="00000-000" type="number" [(ngModel)]="postal_code"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rua:</ion-label>
      <ion-input placeholder="R:" type="text" [(ngModel)]="street"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número:</ion-label>
      <ion-input placeholder="0001" type="number" [(ngModel)]="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento:</ion-label>
      <ion-input placeholder="Casa/Ap" type="text" [(ngModel)]="complement"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bairro:</ion-label>
      <ion-input placeholder="Bairro" type="text" [(ngModel)]="neighborhood"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade:</ion-label>
      <ion-input placeholder="Cidade" type="text" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado:</ion-label>
      <ion-input placeholder="Estado" type="text" [(ngModel)]="state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">País:</ion-label>
      <ion-input placeholder="País" type="text" [(ngModel)]="country"></ion-input>
    </ion-item>

    <br>
    <ion-row>
      <ion-col style="padding-left: 15px;" class="edit-bank" size="12">
        <ion-button *ngIf="address == null" size="small" expand="block" (click)="addUserAddress()" color="success">Salvar Endereço</ion-button>
        <ion-button *ngIf="address != null" size="small" expand="block" (click)="editdUserAddress()" color="success">Editar Endereço</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <p class="bg" *ngIf="display == 'access'">Acesso</p>
  <ion-grid *ngIf="display == 'access'">

    <ion-item>
      <ion-label position="stacked">Endereço de Email:</ion-label>
      <ion-input placeholder="E-mail" type="text" disabled [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nova Senha:</ion-label>
      <ion-input placeholder="***" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Senha:</ion-label>
      <ion-input placeholder="***" type="password" [(ngModel)]="confirm_password"></ion-input>
    </ion-item>

    <br>
    <ion-row>
      <ion-col style="padding-left: 15px;" class="edit-bank" size="12">
        <ion-button (click)="editPassword()" size="small" expand="block" color="success">Salvar Senha</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="display == 'archive'"></p>
  <ion-grid *ngIf="display == 'archive'">

    <ion-row class="" *ngIf="changePage == 'doc'" style="padding-top: 30px">
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="back()" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>{{title}}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="status_id != 2">
          <h2>Vamos concluir <br>
            seu cadastro</h2>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col class="img">
          <img src="../assets/imgs/complete-registration.png">
        </ion-col>
      </ion-row>
      <div class="text">
        <ion-row *ngIf="status_id != 2">
          <p>Para sua segurança, é necessário o envio de alguns documentos.</p>
        </ion-row>
        <ion-row *ngIf="status_id == 2">
          <p>Seus documentos não foram aprovados. Justificativa da nossa equipe: {{reject_motive}}</p>
          <p>Para validar seu cadastro reenvie os documentos pedidos.</p>
        </ion-row>
        <ion-row>
          <p>É preferível que as imagens enviadas estejam no formato JPEG e tenham no máximo 2MB.</p>
        </ion-row>
        <ion-row>
          <p>Em caso de estrangeiros, o único documento aceito é o passaporte.</p>
        </ion-row>
        <ion-row>
          <p> É indispensável que a foto não esteja borrada.</p>
        </ion-row>
        <ion-row>
          <p>Para um melhor resultado, tire as fotos em um lugar bem iluminado, e contra o sentido da luz.</p>
        </ion-row>
      </div>
      <ion-col>
        <ion-row class="button-login">
          <ion-button expand="block" shape="round" (click)="onChange('next_step')">
            <p>Próximo Passo</p>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="changePage == 'next_step'" style="padding-top: 30px">
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="onChange('doc')" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>{{title}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <h2>Documento frente</h2>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="text">
        <ion-row>
          <p>Tire uma foto da parte da frente do seu RG ou CNH.</p>
        </ion-row>
        <ion-row>
          <p>Você pode tirar foto pelo nosso app, ou importar direto da sua galeria de fotos.</p>
        </ion-row>
        <h1>Essa é a foto que você gostaria de enviar?</h1>
      </ion-col>
      <ion-col style="display: inline-table" class="icon" size="12">
        <ion-button *ngIf="!file_1" fill="clear"  (click)="presentActionSheet(1)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        <ion-button *ngIf="file_1" class="close-button" fill="clear" (click)="erase(1)"><ion-icon class="close-icon" name="close-circle"></ion-icon></ion-button>
        <img *ngIf="file_1" [src]="file_1">
      </ion-col>
      <ion-col>
        <ion-row class="button-login">
          <ion-button expand="block" shape="round" (click)="onChange('next_step2')">
            <p>Próximo Passo</p>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="changePage == 'next_step2'" style="padding-top: 30px">
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="onChange('next_step')" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>{{title}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <h2>Documento verso</h2>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="text">
        <ion-row>
          <p>Tire uma foto da parte do verso do seu RG ou CNH.</p>
        </ion-row>
        <ion-row>
          <p>Você pode tirar foto pelo nosso app, ou importar direto da sua galeria de fotos.</p>
        </ion-row>
        <h1>Essa é a foto que você gostaria de enviar?</h1>
      </ion-col>
      <ion-col class="icon" size="12">
        <ion-button *ngIf="!file_2"fill="clear"  (click)="presentActionSheet(2)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        <ion-button *ngIf="file_2" class="close-button" fill="clear" (click)="erase(2)"><ion-icon class="close-icon" name="close-circle"></ion-icon></ion-button>
        <img *ngIf="file_2" [src]="file_2">
      </ion-col>
      <ion-col>
        <ion-row class="button-login">
          <ion-button expand="block" shape="round" (click)="onChange('next_step3')">
            <p>Próximo Passo</p>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="changePage == 'next_step3'" style="padding-top: 30px">
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="onChange('next_step2')" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>{{title}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <h2>Selfie com documento</h2>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="text">
        <ion-row>
          <p>Tire uma selfie em que você apareça com o documento posicionado ao lado do rosto.</p>
        </ion-row>
        <ion-row>
          <p>Mais uma vez, é importante que a imagem não esteja borrada. </p>
        </ion-row>
        <ion-row>
          <p>Você pode tirar foto pelo nosso app, ou importar direto da sua galeria de fotos.</p>
        </ion-row>
        <h1>Essa é a foto que você gostaria de enviar?</h1>
      </ion-col>
      <ion-col class="icon" size="12">
          <ion-button *ngIf="!file_3" fill="clear" (click)="presentActionSheet(3)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
          <ion-button *ngIf="file_3" class="close-button" fill="clear" (click)="erase(3)"><ion-icon class="close-icon" name="close-circle"></ion-icon></ion-button>
          <img *ngIf="file_3" [src]="file_3">
      </ion-col>
      <ion-col>
        <ion-row class="button-login" *ngIf="type_reject != 'personal'">
          <ion-button expand="block" shape="round" (click)="onChange('next_step4')">
            <p>Próximo Passo</p>
          </ion-button>
        </ion-row>
        <ion-row class="button-login" *ngIf="type_reject == 'personal'">
          <ion-button style="width: 87.5%;" (click)="storeValidation()" expand="block" shape="round">
            <p>Enviar</p>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="changePage == 'next_step4'" style="padding-top: 30px">
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="onChange('next_step3')" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>{{title}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <h2>Comprovante de <br> residência</h2>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="text">
        <ion-row>
          <p>Foto do comprovante de residência recente (máximo 90 dias) no seu nome ou que comprove sua ligação com o dono da residência.</p>
        </ion-row>
        <ion-row>
          <p>Você pode tirar foto pelo nosso app, ou importar direto da sua galeria de fotos.</p>
        </ion-row>
        <h1>Essa é a foto que você gostaria de enviar?</h1>
      </ion-col>
      <ion-col class="icon" size="12">
        <ion-button *ngIf="!file_4"  fill="clear" (click)="presentActionSheet(4)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        <ion-button *ngIf="file_4" class="close-button" fill="clear" (click)="erase(4)"><ion-icon class="close-icon" name="close-circle"></ion-icon></ion-button>
        <img *ngIf="file_4" [src]="file_4">
      </ion-col>
      <ion-col>
        <ion-row class="button-login" *ngIf="!display_file5">
          <ion-button style="width: 87.5%;" (click)="storeValidation()" expand="block" shape="round">
            <p>Enviar</p>
          </ion-button>
        </ion-row>
        <ion-row class="button-login" *ngIf="display_file5">
            <ion-button style="width: 87.5%;" (click)="onChange('next_step5')" expand="block" shape="round">
              <p>Próximo Passo</p>
            </ion-button>
          </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="changePage == 'next_step5'" style="padding-top: 30px">
      <ion-col class="therefore" size="12">
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="onChange('next_step4')" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>{{title}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <h2>Contratos</h2>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="text">
        <ion-row>
          <p>Foto contendo a primeira e a última página do Contrato Social ou Estatuto. No caso de MEI, é necessária uma foto do certificado.</p>
        </ion-row>
        <ion-row>
          <p>Você pode tirar foto pelo nosso app, ou importar direto da sua galeria de fotos.</p>
        </ion-row>
        <h1>Essa é a foto que você gostaria de enviar?</h1>
      </ion-col>
      <ion-col class="icon" size="12">
        <ion-button *ngIf="!file_5"  fill="clear" (click)="presentActionSheet(5)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        <ion-button *ngIf="file_5" class="close-button" fill="clear" (click)="erase(5)"><ion-icon class="close-icon" name="close-circle"></ion-icon></ion-button>
        <img *ngIf="file_5" [src]="file_5">
      </ion-col>
      <ion-col>
        <ion-row class="button-login">
          <ion-button style="width: 87.5%;" (click)="storeValidation()" expand="block" shape="round">
            <p>Enviar</p>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="changePage == 'sucessfull'" style="padding-top: 30px">
        <ion-col class="therefore" size="12">
          <ion-row style="text-align: center;">
            <p>{{title}}</p>
          </ion-row>
          <ion-row class="success">
            <h2>Yeah!</h2>
          </ion-row>
        </ion-col>
        <ion-col size="12" class="text">
          <ion-row>
              <p>Suas informações foram enviadas.</p>
          </ion-row>
          <ion-row>
              <p>Agora é só aguardar a nossa equipe verificar seus documentos.</p>
          </ion-row>
          <ion-row>
            <p>Fique atento: iremos notificar você pela plataforma em até 48 horas úteis.</p>
          </ion-row>
        </ion-col>
        <ion-col class="icon" size="12">
          <img src="assets/imgs/compralo_Ilustra3.png">
        </ion-col>
        <ion-col size="12" class="text">
          <ion-row>
            <p>Você apenas podera efetuar saque, após a validação por completo de seus documentos</p>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="button-login">
            <ion-button (click)="back()" expand="block" shape="round">
              <p>Concluir</p>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>