.therefore{
    ion-icon{
        font-size: 40px;
        margin-top: 5px;
        color: #6d0df3;
        margin-left: -5px;
    }  
    img{
        max-width: 80%;
        text-align: center;
    }
    p{
        padding-top: 15px;
        padding-left: 16px;
        margin: auto;
        font-weight: 500;
        color:#57268f;
    }
    h2{
        margin: auto;
        text-align: center;
        font-size: 7vw;
        padding-left: 10px;
        font-weight: 600;
        color:#57268f;
    }
}

.bg{
    background: #f4f6fc;
    padding: 7px;
    color: #7e5da3;
    text-align: center;
}

.img{
    width: 100%;
}

.text{
    color: #7c7c7c;
    font-weight: 200;
    font-size: 4vw;
    padding-left: 23px;
    padding-right: 23px;
    h1{
        color: #646464;
    }
}

.icon{
    font-size: 50px;
    text-align: center;
    display: inline-table;
    ion-button{
        height: auto;
        padding: 50px;
        font-size: 10vw;
        color: #000;
    }
    img{
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

.close-icon {
    font-size: 30px;
    color: darkgray;
    background-color: white;
    border-radius: 50%;
}

.close-button {
    padding: 0px !important;
    position: absolute;
    right: -25px;
    top: -14px;
}

.button-login{

    ion-button{
        --background-activated:linear-gradient(45deg ,#8833ff, #bb69ff );
        --background: linear-gradient(45deg ,#bb69ff,#6d0df3  );
        --background-focused:  #bb69ff;
        height: 40px;
        margin: auto;
        margin-bottom: 20px;
        
        p{
            padding-left: 70px;
            padding-right: 70px;        
            margin: auto;
            font-weight: 600;
            font-size: 4.8vw;
        }
    }
}

.success{
    display: block;
    padding-top: 20px;
    h2 {
        padding-left: 17px;
        text-align: left !important;
    }
}
