/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.modal-wrapper{
  background: transparent !important;
}

.swal-icon--success__hide-corners{
  background: none!important
}
.swal-icon--success:after, .swal-icon--success:before{
  background: none!important
}
.swal-modal {
  background-image: linear-gradient(45deg,#5D2F8F,#8C40F6)!important;
}
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.swal-title{
  font-family: arial;
  color: #fff;
}
.swal-text{
  font-family: arial;
  color: #fff;
}
.swal-button:not([disabled]):hover{
  background-color: none!important
}
.swal-button {
  font-family: arial;
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #fff;
  font-size: 12px;
  color: #5a2e88
}