.page-background {
    --background: linear-gradient(45deg,#d6cee3, #f9d9ec);

    ion-icon{
        color:#58127b;
        text-align: center;
    }
     img{
        margin-top:115px;
        max-width: 220px;
    }
    h3, p{
        color:#58127b;
        font-size: 4vw;

    }
    h2{
        color:#58127b;
    }
    
}
