<ion-content style="text-align: center;" class="page-background">
  <div>
      <img src="../assets/imgs/logo-compralo.png">
    <ion-row>
      <ion-col size="12">
        <h3>Por favor insira seu pin</h3>
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="1">
        <ion-icon name="ios-radio-button-on" *ngIf="pin.length > 0"></ion-icon>
        <ion-icon name="ios-radio-button-off" *ngIf="pin.length == 0"></ion-icon>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ios-radio-button-on" *ngIf="pin.length > 1"></ion-icon>
        <ion-icon name="ios-radio-button-off" *ngIf="pin.length <= 1"></ion-icon>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ios-radio-button-on" *ngIf="pin.length > 2"></ion-icon>
        <ion-icon name="ios-radio-button-off" *ngIf="pin.length <= 2"></ion-icon>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ios-radio-button-on" *ngIf="pin.length > 3"></ion-icon>
        <ion-icon name="ios-radio-button-off" *ngIf="pin.length <= 3"></ion-icon>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ios-radio-button-on" *ngIf="pin.length > 4"></ion-icon>
        <ion-icon name="ios-radio-button-off" *ngIf="pin.length <= 4"></ion-icon>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ios-radio-button-on" *ngIf="pin.length > 5"></ion-icon>
        <ion-icon name="ios-radio-button-off" *ngIf="pin.length <= 5"></ion-icon>
      </ion-col>
    </ion-row>
    <div>
      <ion-row>
        <ion-col size="4" (click)="click(1)">
          <h2>1</h2>
        </ion-col>
        <ion-col size="4" (click)="click(2)">
          <h2>2</h2>
        </ion-col>
        <ion-col size="4" (click)="click(3)">
          <h2>3</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" (click)="click(4)">
          <h2>4</h2>
        </ion-col>
        <ion-col size="4" (click)="click(5)">
          <h2>5</h2>
        </ion-col>
        <ion-col size="4" (click)="click(6)">
          <h2>6</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" (click)="click(7)">
          <h2>7</h2>
        </ion-col>
        <ion-col size="4" (click)="click(8)">
          <h2>8</h2>
        </ion-col>
        <ion-col size="4" (click)="click(9)">
          <h2>9</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <h2></h2>
        </ion-col>
        <ion-col size="4" (click)="click(0)">
          <h2>0</h2>
        </ion-col>
        <ion-col size="4" (click)="delete_pin()">
          <h2>
            <ion-icon name="md-backspace"></ion-icon>
          </h2>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
